<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apply">

	<!-- orderNo로 받아야할 것 같은데.. -->
  <select id = "selectApplyDetailUser" resultType ="kh.finalproject.sims.biz.model.vo.BizApplyVo">
<!--  order_no으로 들고오면 이건 듯?? 요금제 기본 정보는 plan_table에서 가져와야함 별칭 부여?
  SELECT *
 FROM plan_table
 JOIN plan_order 
 USING (plan_no)
 WHERE plan_no = (
    SELECT plan_no 
     FROM plan_order 
     WHERE order_no = 5
);
   -->

  	<!-- 유저 기본정보 -->
  	<!-- select * 
   		from plan_order
    	join user_table
    	using(user_id)
    where user_id = 'user1' -->
    
    select * 
 from user_table
 where user_id = (
        select user_id
        from plan_order
        where order_no = #{orderNo}       
)
    
  </select>
  <select id="selectApplyDetailPlan" resultType ="kh.finalproject.sims.biz.model.vo.BizApplyVo">
     <!-- 요금제 정보 -->
    <!-- select plan_name, plan_price, plan_voice, plan_message, plan_data
	    from plan_order
	    join plan_table
	    using (plan_no)
    where plan_no = '1' -->
       
<!-- orderNo 받아서 그 요금제의 기본 정보랑 요금제 신청서 테이블 join -->
	SELECT pt.plan_name, po.join_category, po.sim_type, po.sim_yn, po.current_telecom
	        ,po.plan_bill, po.plan_pay, po.card_number, po.card_expiration
	        ,po.bank, po.bank_number, po.order_date
	        ,pt.net_no, pt.gen_no, pt.plan_price, pt.plan_data, pt.plan_voice, pt.plan_message
	        ,po.order_no, po.order_date, po.order_status
	 FROM plan_table  pt
	 JOIN plan_order  po
	 USING (plan_no)
	 WHERE plan_no = (
	    SELECT plan_no 
	     FROM plan_order 
	     WHERE order_no = #{orderNo}
	) 
	AND order_no =#{orderNo}
  </select>
  
  
  <!-- 가입신청상태 변경 -->
  <update id="updateApproveStatus">	
  	update plan_order 
      set order_status = 2
 	where order_no = #{orderNo} 
 	  and biz_id = #{bizid}
  </update>
  
  <update id="updateHoldStatus"> 	
  	update plan_order 
      set order_status = 3
 	where order_no = #{orderNo}
 	  and biz_id = #{bizid}
  </update>
  
  <!-- 요금제 가입 신청 목록 -->
  <select id="selectBizPlanApplyList" resultType="kh.finalproject.sims.biz.model.vo.BizApplyVo">
  SELECT rownum,
       TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0')  AS serial_no,
       plan_name,
       user_id,
       order_status,
       order_date,
       order_no
	FROM plan_order
	JOIN plan_table USING (plan_no)
	WHERE plan_no IN (
   	 SELECT plan_no 
    	FROM plan_table 
    		WHERE biz_name LIKE (
        						SELECT biz_name 
							        FROM biz 
							        WHERE biz_id = #{bizid}
   		)
   	)

	</select>
	
	<!-- 가입신청서 수 -->
	<select id="getApplyListCnt" resultType="_int">
		 SELECT count(*) listCnt
			FROM plan_order
			JOIN plan_table USING (plan_no)
			WHERE plan_no IN (
		   	 SELECT plan_no 
		    	FROM plan_table 
		    		WHERE biz_name LIKE (
		        						SELECT biz_name 
									        FROM biz 
									        WHERE biz_id = #{bizid}
   		)
   	)
	</select>
	
	
	<!-- paging -->
	<select id="selectPage" parameterType="map" resultType="kh.finalproject.sims.biz.model.vo.BizApplyVo">
		 SELECT *
			FROM (
			    SELECT rownum rn,
			           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
			           plan_name,
			           user_id,
			           order_status,
			           order_date,
			           order_no
			    FROM plan_order
			    JOIN plan_table USING (plan_no)
			    WHERE plan_no IN (
			        SELECT plan_no 
			        FROM plan_table 
			        WHERE biz_name LIKE (
			            SELECT biz_name 
			            FROM biz 
			            WHERE biz_id = #{bizid}
			        )
			    )
			)
			WHERE rn between #{start} and #{end}
	</select>
	
	<!-- search 리스트-->
	<select id="searchApplyList" parameterType="map" resultType="kh.finalproject.sims.biz.model.vo.BizApplyVo">
		SELECT *
    FROM (
        SELECT rownum rn,
           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
           plan_name,
           user_id,
           order_status,
           order_date,
           order_no
     FROM plan_order
     JOIN plan_table USING (plan_no)
            WHERE plan_no IN (
                    SELECT plan_no 
                     FROM plan_table 
                     WHERE biz_name LIKE (
                                    SELECT biz_name 
                                    FROM biz 
                                    WHERE biz_id = #{bizid}
                    )
                   )
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
)
WHERE rn between #{start} and #{end}
			
	</select >
	
	<!-- search 리스트 출력 개수 -->
	<select id="getSearchApplyListCount" parameterType="map" resultType="_int">
		select count(*) searchCnt
			 from (
			         SELECT *
			    		FROM (
					        SELECT rownum rn,
					           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
					           plan_name,
					           user_id,
					           order_status,
					           order_date,
					           order_no
					     FROM plan_order
					     JOIN plan_table USING (plan_no)
			            WHERE plan_no IN (
			                    SELECT plan_no 
			                     FROM plan_table 
			                     WHERE biz_name LIKE (
			                                    SELECT biz_name 
			                                    FROM biz 
			                                    WHERE biz_id = #{bizid}
			                                 )
			                    )
			                    
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
          
)
 )
	</select>
	
	<!-- 분류에 따른 리스트 -->
	<!-- row 수 구하기 -->
		<select id="getDevisionApplyListCount" parameterType="map" resultType="_int">
		select count(*) searchCnt
			 from (
			         SELECT *
			    		FROM (
					        SELECT rownum rn,
					           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
					           plan_name,
					           user_id,
					           order_status,
					           order_date,
					           order_no
					     FROM plan_order
					     JOIN plan_table USING (plan_no)
			            WHERE plan_no IN (
			                    SELECT plan_no 
			                     FROM plan_table 
			                     WHERE biz_name LIKE (
			                                    SELECT biz_name 
			                                    FROM biz 
			                                    WHERE biz_id = #{bizid}
			                                 )
			                    )
			                   and order_status = #{orderStatus}
			                    
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
          
)
 )
	</select>
	
	<select id="getDevisionPage" parameterType="map" resultType="kh.finalproject.sims.biz.model.vo.BizApplyVo">
		SELECT *
    FROM (
        SELECT rownum rn,
           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
           plan_name,
           user_id,
           order_status,
           order_date,
           order_no
     FROM plan_order
     JOIN plan_table USING (plan_no)
            WHERE plan_no IN (
                    SELECT plan_no 
                     FROM plan_table 
                     WHERE biz_name LIKE (
                                    SELECT biz_name 
                                    FROM biz 
                                    WHERE biz_id = #{bizid}
                    )
                   )
                    and order_status = #{orderStatus}
                   
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
)
WHERE rn between #{start} and #{end}
			
	</select >
	
	<!-- 사용자 리뷰 페이지에서 사용 -->
	
	<!-- 리뷰를 쓰지 않은 가입된 리스트 -->
	<select id="selectOrderList" parameterType="string" resultType="poVo">
		select biz_id, user_id, p.plan_no
             , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
             , (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
             , (select pt.net_no from plan_table Pt where pt.plan_no = p.plan_no) as net_no
             , (select pt.gen_no from plan_table Pt where pt.plan_no = p.plan_no) as gen_no
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_status=2
	    and biz_id not in (select biz_id from biz_review where user_id=#{userId})
	</select>
	
	<!-- 리뷰를 쓰지 않은 가입된 리스트 갯수-->
	<select id="selectOrderListCount" parameterType="string" resultType="int">
		select count(*)
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_status=2
	    and biz_id not in (select biz_id from biz_review where user_id=#{userId})
	</select>
	
	<!-- 가입한 요금제 리스트 -->
	<select id="selectMyPlanList" parameterType="string" resultType="poVo">
		select biz_id, user_id, p.plan_no, p.order_no
             , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
             , (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
             , (select pt.net_no from plan_table Pt where pt.plan_no = p.plan_no) as net_no
             , (select pt.gen_no from plan_table Pt where pt.plan_no = p.plan_no) as gen_no
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_status=2
	</select>
	
	<!-- 가입한 요금제 상세 -->
	<select id="selectMyPlanDetail" parameterType="hashmap" resultType="poVo">
		select p.order_no, p.biz_id, p.plan_no, p.join_category, p.sim_type, p.sim_yn, p.current_telecom, p.plan_bill, p.plan_pay
			, p.card_number, p.card_expiration, p.bank, p.bank_number, p.order_date, p.order_status, p.net_no, p.gen_no, p.order_price
			, (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
			, (select pt.plan_voice from plan_table Pt where pt.plan_no = p.plan_no) as plan_voice
			, (select pt.plan_message from plan_table Pt where pt.plan_no = p.plan_no) as plan_message
            , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
            , (select pt.plan_data_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_data_over
			, (select pt.plan_voice_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_voice_over
            , (select pt.plan_message_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_message_over
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_no=#{orderNo}
	</select>
	
</mapper>
