<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apply">

	
  <select id = "selectApplyDetailUser" resultType ="poVo">
    
    select * 
	 from user_table
	 where user_id = (
	        select user_id
	        from plan_order
	        where order_no = #{orderNo}       
	)
    
  </select>
  
  <select id="selectApplyDetailPlan" resultType ="poVo">
	
	<!-- 결제 카드/은행 테이블 조인 -->
	SELECT pt.plan_name, po.join_category, po.sim_type, po.sim_yn, po.current_telecom
	      ,po.plan_bill, po.plan_pay
	      ,pc.card_number, pc.card_expiration, pc.card_holder, pc.card_ssn, pc.card_relationship
	      ,pa.acc_bank, pa.acc_number, pa.acc_holder, pa.acc_ssn, pa.acc_relationship
	      ,po.order_date ,pt.net_no, pt.gen_no, pt.plan_price, pt.plan_data, pt.plan_voice, pt.plan_message,
	      po.order_no, po.order_status
	FROM plan_order po
	JOIN plan_table pt ON po.plan_no = pt.plan_no
	LEFT OUTER JOIN PAYINFO_CARD pc ON po.order_no = pc.order_no
	LEFT OUTER JOIN PAYINFO_ACC pa ON po.order_no = pa.order_no
	WHERE po.order_no = #{orderNo}
  </select>
  
  
  <!-- 가입신청상태 변경 -->
  <update id="updateApproveStatus">	
  	update plan_order 
      set order_status = 2
 	where order_no = #{orderNo} 
 	  and biz_id = #{bizid}
  </update>
  
  <update id="updateHoldStatus"> 	
  	update plan_order 
      set order_status = 3
 	where order_no = #{orderNo}
 	  and biz_id = #{bizid}
  </update>
  
  <!-- 요금제 가입 신청 목록 -->
  <select id="selectBizPlanApplyList" resultType="poVo">
  SELECT rownum,
       TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0')  AS serial_no,
       plan_name,
       user_id,
       order_status,
       order_date,
       order_no
	FROM plan_order
	JOIN plan_table USING (plan_no)
	WHERE plan_no IN (
   	 SELECT plan_no 
    	FROM plan_table 
    		WHERE biz_name LIKE (
        						SELECT biz_name 
							        FROM biz 
							        WHERE biz_id = #{bizid}
   		)
   	)
	<!-- TODO 뷰 사용, 결과 확인할 것 
	SELECT rownum,
       TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0')  AS serial_no,
       plan_name,
       user_id,
       order_status,
       order_date,
       order_no
	FROM plan_order
	JOIN plan_table USING (plan_no)
	WHERE plan_no IN (
   	 SELECT plan_no 
    	FROM view_plan_biz 
	    WHERE biz_id = 'sejong');
	    
	     -->



	</select>
	
	<!-- 가입신청서 수 -->
	<select id="getApplyListCnt" resultType="_int">
		 SELECT count(*) listCnt
			FROM plan_order
			JOIN plan_table USING (plan_no)
			WHERE plan_no IN (
		   	 SELECT plan_no 
		    	FROM plan_table 
		    		WHERE biz_name LIKE (
		        						SELECT biz_name 
									        FROM biz 
									        WHERE biz_id = #{bizid}
   		)
   	)
	</select>
	
	
	<!-- paging -->
	<select id="selectPage" parameterType="map" resultType="poVo">
		 SELECT *
			FROM (
			    SELECT rownum rn,
			           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
			           plan_name,
			           user_id,
			           order_status,
			           order_date,
			           order_no
			    FROM plan_order
			    JOIN plan_table USING (plan_no)
			    WHERE plan_no IN (
			        SELECT plan_no 
			        FROM plan_table 
			        WHERE biz_name LIKE (
			            SELECT biz_name 
			            FROM biz 
			            WHERE biz_id = #{bizid}
			        )
			    )
			)
			WHERE rn between #{start} and #{end}
	</select>
	
	
	<!-- 분류 전체조회일 때 수행 -->
	<!-- search 리스트-->
	<select id="searchApplyList" parameterType="map" resultType="poVo">
	
	SELECT *
    FROM ( 
    SELECT  ROW_NUMBER() OVER (ORDER BY order_no DESC) AS rn,
            TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no
            , plan_name, user_id, order_status, order_date, order_no, plan_no 
            FROM plan_order 
            JOIN plan_table USING(plan_no)
            WHERE plan_no IN (SELECT plan_no 
                                FROM view_plan_biz
                                WHERE biz_id = #{bizid} ) 
			
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>

   			 ) tbr
    WHERE rn between #{start} and #{end}
	
			
	</select >
	
	<!-- search 리스트 출력 개수 -->
	<select id="getSearchApplyListCount" parameterType="map" resultType="_int">
		select count(*) searchCnt
			 from (
			         SELECT *
			    		FROM (
					        SELECT rownum rn,
					           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
					           plan_name,
					           user_id,
					           order_status,
					           order_date,
					           order_no
					     FROM plan_order
					     JOIN plan_table USING (plan_no)
			            WHERE plan_no IN (
			                    SELECT plan_no 
			                     FROM plan_table 
			                     WHERE biz_name LIKE (
			                                    SELECT biz_name 
			                                    FROM biz 
			                                    WHERE biz_id = #{bizid}
			                                 )
			                    )
			                    
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
          
)
 )
	</select>
	
	<!-- 분류가 있을 때 수행 -->
	<!-- 분류에 따른 리스트 -->
	<!-- row 수 구하기 -->
		<select id="getDevisionApplyListCount" parameterType="map" resultType="_int">
		select count(*) searchCnt
			 from (
			         SELECT *
			    		FROM (
					        SELECT rownum rn,
					           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
					           plan_name,
					           user_id,
					           order_status,
					           order_date,
					           order_no
					     FROM plan_order
					     JOIN plan_table USING (plan_no)
			            WHERE plan_no IN (
			                    SELECT plan_no 
			                     FROM plan_table 
			                     WHERE biz_name LIKE (
			                                    SELECT biz_name 
			                                    FROM biz 
			                                    WHERE biz_id = #{bizid}
			                                 )
			                    )
			                   and order_status = #{orderStatus}
			                    
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
            </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
            AND user_id like ('%' || #{keyword} || '%')
            </if>
          
)
 )
	</select>
	
	<select id="getDevisionPage" parameterType="map" resultType="poVo">
	
	SELECT *
    FROM (
        SELECT
           ROW_NUMBER() OVER (ORDER BY order_no DESC) AS rn,
           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
           plan_name,
           user_id,
           order_status,
           order_date,
           order_no,
           plan_no
     FROM plan_order
     JOIN plan_table USING (plan_no)
            WHERE plan_no IN ( SELECT plan_no 
                                FROM view_plan_biz
                                WHERE biz_id = #{bizid} ) 
                   
            and order_status = #{orderStatus}
            
			<if test="searchType=='planName' and keyword != null and keyword != '' ">
            AND plan_name like ('%' || #{keyword} || '%')
           </if>
            
            <if test="searchType=='userId' and keyword != null and keyword != '' ">
           AND user_id like ('%' || #{keyword} || '%')
           </if>                  
	) tbr
	WHERE rn between #{start} and #{end}
	
	
	
			
	</select >
	
	
	
	<!-- 키워드검색/가입신청상태/기간 조회 -->
	<!-- row수 구하기 -->
	<select id="getDevisionApplyListCountByDateRange" parameterType="map" resultType="_int">
		select count(*) searchCnt
			 from (
			         SELECT *
			    		FROM (
					        SELECT rownum rn,
					           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
					           plan_name,
					           user_id,
					           order_status,
					           order_date,
					           order_no
					     FROM plan_order
					     JOIN plan_table USING (plan_no)
			            WHERE plan_no IN ( SELECT plan_no 
		                                FROM view_plan_biz
		                                WHERE biz_id = #{bizid} ) 
			                    <if test="orderStatus != 0 and (orderStatus != null and orderStatus != '')">
						            AND order_status = #{orderStatus}
						        </if>
			                    
								<if test="searchType=='planName' and keyword != null and keyword != '' ">
					            AND plan_name like ('%' || #{keyword} || '%')
					            </if>
					            
					            <if test="searchType=='userId' and keyword != null and keyword != '' ">
					            AND user_id like ('%' || #{keyword} || '%')
					            </if>
					            <if test="startDate != null and startDate != '' and  endDate != null and endDate != '' ">
					               <![CDATA[ AND TRUNC(order_date) >= #{startDate} ]]> 
					               <![CDATA[ AND TRUNC(order_date) <= #{endDate} ]]> 
					            </if>
          
)
 )
	</select>
	
	<!--데이터 조회 -->
	<select id="getDevisionPageByDateRange" parameterType="map" resultType="poVo">
			SELECT *
		    FROM (
		        SELECT
		           ROW_NUMBER() OVER (ORDER BY order_no DESC) AS rn,
		           TO_CHAR(order_date, 'YYYYMMDD') || '-' || LPAD(order_no, 6, '0') AS serial_no,
		           plan_name,
		           user_id,
		           order_status,
		           order_date,
		           order_no,
		           plan_no
		     FROM plan_order
		     JOIN plan_table USING (plan_no)
		            WHERE plan_no IN ( SELECT plan_no 
		                                FROM view_plan_biz
		                                WHERE biz_id = #{bizid} ) 
		                   
		            <if test="orderStatus != 0 and (orderStatus != null and orderStatus != '')">
			            AND order_status = #{orderStatus}
			        </if>
		            
					<if test="searchType=='planName' and keyword != null and keyword != '' ">
		            AND plan_name like ('%' || #{keyword} || '%')
		           </if>
		            
		            <if test="searchType=='userId' and keyword != null and keyword != '' ">
		           AND user_id like ('%' || #{keyword} || '%')
		           </if>
		           <if test="startDate != null and startDate != '' and  endDate != null and endDate != '' ">
		               <![CDATA[ AND TRUNC(order_date) >= #{startDate} ]]>
		               <![CDATA[ AND TRUNC(order_date) <= #{endDate} ]]>
		           </if>
		           
			) tbr
			WHERE rn between #{start} and #{end}
	</select>
	
	
	
	<!-- 사용자 리뷰 페이지에서 사용 -->
	
	<!-- 리뷰를 쓰지 않은 가입된 리스트 -->
	<select id="selectOrderList" parameterType="string" resultType="poVo">
		select biz_id, user_id, p.plan_no
             , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
             , (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
             , (select pt.net_no from plan_table Pt where pt.plan_no = p.plan_no) as net_no
             , (select pt.gen_no from plan_table Pt where pt.plan_no = p.plan_no) as gen_no
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_status=2
	    and biz_id not in (select biz_id from biz_review where user_id=#{userId})
	</select>
	
	<!-- 리뷰를 쓰지 않은 가입된 리스트 갯수-->
	<select id="selectOrderListCount" parameterType="string" resultType="int">
		select count(*)
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_status=2
	    and biz_id not in (select biz_id from biz_review where user_id=#{userId})
	</select>
	
	<!-- 가입한 요금제 리스트 -->
	<select id="selectMyPlanList" parameterType="string" resultType="poVo">
		select biz_id, user_id, p.plan_no, p.order_no
             , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
             , (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
             , (select pt.net_no from plan_table Pt where pt.plan_no = p.plan_no) as net_no
             , (select pt.gen_no from plan_table Pt where pt.plan_no = p.plan_no) as gen_no
	    from plan_order P 
	    where P.user_id=#{userId}
	</select>
	
	<!-- 가입한 요금제 리스트 갯수 -->
	<select id="selectMyPlanListCount" parameterType="string" resultType="int">
		select count(*)
	    from plan_order P 
	    where P.user_id=#{userId}
	</select>
	
	<!-- 가입한 요금제 상세 -->
	<select id="selectMyPlanDetail" parameterType="hashmap" resultType="poVo">
		select p.order_no, p.biz_id, p.plan_no, p.join_category, p.sim_type, p.sim_yn, p.current_telecom, p.plan_bill
            , p.plan_pay, p.order_date, p.order_status, p.net_no, p.gen_no
            , (select pc.card_holder from payinfo_card pc where pc.order_no = p.order_no) as card_holder
            , (select pc.card_ssn from payinfo_card pc where pc.order_no = p.order_no) as card_ssn
            , (select pc.card_relationship from payinfo_card pc where pc.order_no = p.order_no) as card_relationship
            , (select pc.card_number from payinfo_card pc where pc.order_no = p.order_no) as card_number
            , (select pc.card_expiration from payinfo_card pc where pc.order_no = p.order_no) as card_expiration
            , (select pa.acc_holder from payinfo_acc pa where pa.order_no = p.order_no) as acc_holder
            , (select pa.acc_ssn from payinfo_acc pa where pa.order_no = p.order_no) as acc_ssn
            , (select pa.acc_relationship from payinfo_acc pa where pa.order_no = p.order_no) as acc_relationship
            , (select pa.acc_number from payinfo_acc pa where pa.order_no = p.order_no) as acc_number
            , (select pa.acc_bank from payinfo_acc pa where pa.order_no = p.order_no) as acc_bank
			, (select pt.plan_price from plan_table Pt where pt.plan_no = p.plan_no) as plan_price 
			, (select pt.plan_data from plan_table Pt where pt.plan_no = p.plan_no) as plan_data
			, (select pt.plan_voice from plan_table Pt where pt.plan_no = p.plan_no) as plan_voice
			, (select pt.plan_message from plan_table Pt where pt.plan_no = p.plan_no) as plan_message
            , (select pt.plan_name from plan_table Pt where pt.plan_no = p.plan_no) as plan_name
            , (select pt.plan_data_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_data_over
			, (select pt.plan_voice_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_voice_over
            , (select pt.plan_message_over from plan_table Pt where pt.plan_no = p.plan_no) as plan_message_over
	    from plan_order P 
	    where P.user_id=#{userId}
	    and P.order_no=#{orderNo}
	</select>
	
</mapper>
