<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="biz">
	
	<!-- 테스트용 -->
	<select id="selectListBizinfo" resultType="bvo">
		select * from biz where biz_id = 'kctv'
	</select>
	
	<select id="selectBizInfoDetail" resultMap="bvoCollectionMap">
		select * 
			FROM BIZ_NETWORK
				JOIN BIZ
				USING(BIZ_ID)
		where biz_id=#{bizid}

	</select>
	
	<resultMap type="bvo" id="bvoCollectionMap">
		<id column="BIZ_ID" property="bizId" />
		<!-- 얘네들도 추가? -->
		<result column="BIZ_NAME" property="bizName"/>
		<result column="BIZ_SSN" property="bizSsn"/>
		<result column="BIZ_CRN" property="bizCrn"/>
		<result column="BIZ_EMAIL" property="bizEmail"/>
		<result column="BIZ_PHONE" property="bizPhone"/>
		<result column="BIZ_FAX" property="bizFax"/>
		<result column="BIZ_OWNER_NAME" property="bizOwnerName"/>
		<result column="BIZ_HP" property="bizHp"/>
		<result column="BIZ_ZIP_CODE" property="bizZipCode"/>
		<result column="BIZ_LOCATION" property="bizLocation"/>
		<result column="BIZ_CARD_PAY_DATE" property="bizCardPayDate"/>
		<result column="BIZ_ACC_PAY_DATE" property="bizAccPayDate"/>
		<result column="BIZ_BEGIN_TIME" property="bizBeginTime"/>
		<result column="BIZ_END_TIME" property="bizEndTime"/>
		<result column="BIZ_CLOSED_DAY" property="bizClosedDay"/>
		<result column="BIZ_REVIEW_STAR" property="bizReviewStar"/>
		<result column="PHONE_OP_TIME" property="phoneOpTime"/>
		<result column="PHONE_OP_TIME_USIM" property="phoneOpTimeUsim"/>
		<result column="NETWORK" property="network"/>
		<result column="WRITE_DATE" property="writeDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="LOGO_RENAME_FILENAME" property="logoRenameFilename"/>
		<result column="ORIGINAL_FILENAME" property="originalFilename"/>

		<collection column="BIZ_ID" property="serviceList" ofType="kh.finalproject.sims.biz.model.vo.bizInfoMngServiceVo">
			<result column="NET_NO" property="netNo"/>
			<result column="BIZ_NET_SERVICE" property="bizNetService"/>
		</collection>
	</resultMap>
	
	<!-- 고객센터 번호 -->
	<select id="selectListService" resultType="kh.finalproject.sims.biz.model.vo.bizInfoMngServiceVo">
		SELECT NET_NO, BIZ_NET_SERVICE
			FROM BIZ_NETWORK
			JOIN BIZ
			USING(BIZ_ID)
		where biz_id=#{bizid}
		<!-- SELECT CASE WHEN NET_NO = 1 THEN 'SKT'
            		WHEN NET_NO = 2 THEN 'KT'
            		ELSE 'LGU+' END AS NET_NO
    			, BIZ_NET_SERVICE
			FROM BIZ_NETWORK
			JOIN BIZ
			USING(BIZ_ID)
		where biz_id='kctv' --><!-- 이 경우에는 NET_NO 자료형이  varchar2여야 함.  -->
	</select>
	
	<!-- 고객센터번호 수정 -->
	<update id="modifyNetService" parameterType="java.util.List">
	 <foreach collection="list" item="item" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
	  UPDATE BIZ_NETWORK
	  SET BIZ_NET_SERVICE = #{item.bizNetService}
	  WHERE NET_NO = #{item.netNo} AND BIZ_ID = #{item.bizId}
	  </foreach>
	</update>
	
	<!-- 고객센터번호 제외 나머지 정보 수정 -->
	<update id="modifyBizInfo" parameterType="bvo">
		update biz
		   set BIZ_NAME = #{bizName},
		    BIZ_SSN = #{bizSsn},
		    BIZ_CRN = #{bizCrn},
		    BIZ_EMAIL = #{bizEmail},
		    BIZ_PHONE = #{bizPhone},
		    BIZ_FAX = #{bizFax},
		    BIZ_OWNER_NAME = #{bizOwnerName},
		    BIZ_HP = #{bizHp},
		    BIZ_ZIP_CODE = #{bizZipCode},
		    BIZ_LOCATION = #{bizLocation},
		    BIZ_CARD_PAY_DATE = #{bizCardPayDate},
		    BIZ_ACC_PAY_DATE = #{bizAccPayDate},
		    BIZ_BEGIN_TIME = #{bizBeginTime},
		    BIZ_END_TIME = #{bizEndTime},
		    BIZ_CLOSED_DAY = #{bizClosedDay},
		    PHONE_OP_TIME = #{phoneOpTime},
		    PHONE_OP_TIME_USIM = #{phoneOpTimeUsim},
		    NETWORK = #{network},
		    LOGO_RENAME_FILENAME = #{logoRenameFilename}
		WHERE BIZ_ID = #{bizId}
	</update>
	
	
	<!-- 수정 전 법인명 가져오기 -->
	<select id="getBeforeBizName" resultType="string">
	select biz_name from biz where biz_id = #{bizid}
	</select>
	
	<update id="updatePlanTable" parameterType="map">
		update plan_table set biz_name = #{bizName} where biz_name =#{beforeBizName}
	</update>
	
	<select id="selectMainBizInfo" parameterType="string" resultType="bvo">
		select biz_id, biz_name, biz_ssn, biz_crn, biz_email, biz_phone, biz_fax, biz_owner_name
		    , biz_hp, biz_zip_code, biz_location, biz_card_pay_date, biz_acc_pay_date, biz_begin_time
		    , biz_end_time, biz_closed_day, biz_review_star, phone_op_time, phone_op_time_usim, network
		    , (select count(*) from biz_review br where b.biz_id=br.biz_id) as biz_review_cnt
		from biz b where biz_id=#{bizId}
	</select>
	
</mapper>
