<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
  
  <!-- 자사 통신사 오늘 작성된 리뷰 수 -->
  <select id="getTodayReviewCnt" resultType="_int">
  	select count(*) todayReviewCnt
	 from biz_review 
	 where TRUNC(review_date) = TRUNC(systimestamp) 
	 and biz_id = #{bizid}
  </select>
  
  <!-- 총 리뷰 수 -->
  <select id="getTotalReviewCnt" resultType="_int">
  	select count(*) totalReviewCnt
	 from biz_review 
	 where biz_id = #{bizid}
  </select>
  
  <!-- 자사 통신사 오늘 가입자 수  -->
  <select id="getTodayApplyCnt" resultType="_int">
  select count(*) todayApplyCnt
	 from plan_order
	 where TRUNC(order_date) = TRUNC(systimestamp)
	 and biz_id = #{bizid}
  </select>
  
  <!-- 자사 통신사 누적 가입자 수 -->
  <select id="getTotalApplyCnt" resultType="_int">
  select count(*)
	 from plan_order totalApplyCnt
	 where biz_id = #{bizid}
  </select>
  
  <!-- 자사 통신사 등록된 요금제 총 수-->
  <select id="getTotalPlanCnt" resultType="_int">
  	select count(*) totalPlanCnt
	 from plan_table
	 where biz_name like (select biz_name from biz where biz_id = #{bizid})
  </select>
  
  <select id="getLogo" resultType="bPageVo">
 	 select original_fileName, logo_rename_filename 
	  from biz 
	  where biz_id=#{bizid}
  </select>
  
  <!-- 최근 통신사 리뷰 / 최신순 3개만 -->
  <select id="getRecentReview" resultType="bPageVo">
  	SELECT * 
	FROM (
	    SELECT ROW_NUMBER() OVER (ORDER BY REVIEW_NO DESC) rn, 
	    		REVIEW_CONTENT, REVIEW_STAR, USER_ID, REVIEW_DATE
	    FROM biz_review
	    LEFT JOIN  REVIEW_REPORT
        USING(REVIEW_NO)
	    WHERE biz_id = #{bizid}
	    AND REVIEW_HIDDEN != 1
	) 
	WHERE rn BETWEEN 1 AND 3
  </select>
  
  <!-- 인기있는 요금제 상위 5개 정보(가입자순 기준)/ 가입자수도 함께 출력/ BizPlanMngtVo 사용 -->
  <select id="getTopFivePlanInfo" resultType="bPlanVo">
	  SELECT p.*, plan_cnt
		FROM (
		    SELECT p.plan_no, COUNT(po.plan_no) AS plan_cnt
		    FROM plan_table p
		    LEFT JOIN plan_order po ON p.plan_no = po.plan_no
		    WHERE biz_id = #{bizid}
		    GROUP BY p.plan_no
		    ORDER BY plan_cnt DESC
		) sub, plan_table p
		WHERE sub.plan_no = p.plan_no AND ROWNUM <![CDATA[  <=  ]]> 5
  </select>
  
</mapper>
