<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bizPlan">
	<!-- 통신사 (자사) 요금제 리스트 -->
	<select id="selectPlanList" resultType="bPlanVo">
	select rownum, plan_name, plan_date, biz_name, plan_no
 		from plan_table
 		where biz_name =(select biz_name from biz where biz_id = #{bizid})
	</select>
	
	<!-- 리스트 출력 개수 -->
	<select id="getPlanListCount" resultType="int">
    SELECT COUNT(*) listCnt
    FROM (
        select rownum, plan_name, plan_date, biz_name, plan_no
        from plan_table
        where biz_name = (select biz_name from biz where biz_id = #{bizid})
    )
	</select>
	
	<!-- paging -->
	<select id="selectPage" parameterType="map" resultType="bPlanVo">
	SELECT rownum, plan_name, plan_date, biz_name, plan_no
    	FROM (
    	select rownum rn, plan_name, plan_date, biz_name, plan_no
    	from plan_table
    	where biz_name = (select biz_name from biz where biz_id = #{bizid})    
	 )
	 where rn BETWEEN #{start} and #{end}
	</select>
	
	<!-- search 리스트 -->
	<select id="searchBizPlanList" parameterType="map" resultType="bPlanVo">
	SELECT *
		FROM (
		    SELECT rownum rn, plan_name, plan_date, biz_name, plan_no, plan_status
		    FROM plan_table
		    WHERE biz_name = (SELECT biz_name FROM biz WHERE biz_id = #{bizid})    
        			AND plan_name LIKE '%' || #{keyword} || '%' 
				)
		WHERE rn BETWEEN #{start} AND #{end}
	
	</select>
	
	<!-- search 리스트 출력 개수 -->
	<select id="getSearchPlanListCount" resultType="_int">
	select count(*) searchCnt
	 from (SELECT *
			FROM (
				    SELECT rownum rn, plan_name, plan_date, biz_name, plan_no, plan_status
				    FROM plan_table
				    WHERE biz_name = (SELECT biz_name FROM biz WHERE biz_id = #{bizid})    
				        AND plan_name LIKE '%' || #{keyword} || '%')
				)
	</select>
	
	<!-- 통신사 요금제 상세 정보 -->
	<select id="selectBizPlanDetail" resultType="bPlanVo">
		select * from plan_table where plan_no = #{plan_no}
	</select>
	
	<!-- 통신사 요금제 등록 -->
	<insert id="registerBizPlan">
	insert into plan_table 
 		values (PLAN_SEQ.NEXTVAL, #{planName}
 				, #{bizName}, #{netNo} , #{genNo}
 				, #{planPrice} , #{planVoice}, #{planMessage}
 				, #{planData} , #{planVoiceOver}, #{planMessageOver} 
 				, #{planDataOver} , sysdate, null, default)
	</insert>
	
	<!-- 통신사 이름 추출 -->
	<select id ="findByBizName" resultType="bPlanVo">
		select biz_name from biz where biz_id =#{bizid}
	</select>
	
	<!-- 요금제 삭제 -->
	<delete id="deleteBizPlan">
		update plan_table set plan_status = 1 where plan_no=#{planNo}
		
		<!-- 트리거 작동 
		CREATE TRIGGER plan_status_update_trigger
			AFTER UPDATE OF plan_status ON plan_table
			FOR EACH ROW
			BEGIN
			  IF :NEW.plan_status = 1 THEN
			    DELETE FROM view_table WHERE plan_no = :OLD.plan_no;
			    DELETE FROM like_table WHERE plan_no = :OLD.plan_no;
			  END IF;
			END;
		 -->
	</delete>
	
	<!-- 요금제 수정 -->
	<update id="modifyPlan" parameterType="bPlanVo">
	update plan_table
	  set plan_name = #{planName}, net_no = #{netNo}, gen_no = #{genNo},
	  		plan_price = #{planPrice}, plan_voice = #{planVoice},
	  		plan_message = #{planMessage}, plan_data = #{planData},
	  		plan_voice_over = #{planVoiceOver}, plan_message_over = #{planMessageOver},
	  		plan_data_over = #{planDataOver},
	  		plan_update_date = sysdate,
	  		plan_status = default
	 where plan_no = #{planNo} 
	</update>
	
</mapper>