@charset "UTF-8";

p {
	color: black;
}

.like-plan-div {
	width: 80%;
}

.like-plan-row {
	width: 60%;
}

.like-plan-p {
	font-size: 24px;
	color: black;
}

.list-div {
	width: 90%;

	padding: 20px;
	min-height: 200px; 
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.planInfo p {
	font-size: 12px;
	color: #afafaf;
	display: inline;
}

.planName {
	font-size: 14px;
	color: #afafaf;
}

.planData p {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}

.voiMes {
	font-size: 14px;
}

.planPrice p {
	font-size: 16px;
	display: inline;
}

.priceText {
	font-size: 18px;
}

.viewCount {
	font-size: 12px;
	color: #afafaf;
}

.none-div {
	min-height: 100px;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
}

.fa-heart {
	cursor: pointer;
}

/* TOOLTIP */
[data-tooltip]{position:relative;}
[data-tooltip]:before,
[data-tooltip]:after{visibility:hidden;opacity:0;position:absolute;left:50%;transform:translateX(-50%);white-space:nowrap;transition:all .2s ease;font-size:11px;font-family:dotum;letter-spacing:-1px;}
[data-tooltip]:before{content:attr(data-tooltip);height:23px;position:absolute;top:-20px;padding:5px 10px;border-radius:5px;color:#fff;background:#025272;box-shadow:0 3px 8px rgba(165, 165, 165, 0.5);}
[data-tooltip]:after{content: '';border-left:5px solid transparent;top:2px;border-right:5px solid transparent;border-top:5px solid #025272;}
[data-tooltip]:not([data-tooltip=""]):hover:before{visibility:visible;opacity:1;top:-30px}
[data-tooltip]:not([data-tooltip=""]):hover:after{visibility:visible;opacity:1;top:-8px}