@charset "UTF-8";

.plan-detail-div {
	width: 80%;
}

.plan-detail-row {
	width: 90%;
}

.plan-detail-p {
	font-size: 24px;
	color: black;
}

.plan-info-text {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.plan-info .mb-2 {
	font-size: 16px;
	color: black;
	white-space: pre-wrap;
}

.plan-info {
	padding: 20px;
	border: 2px solid #e3e3e3;
	border-radius: 10px;
}

button {
	background: inherit;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: none;
	padding: 10px;
	overflow:visible;
	cursor:pointer;
}

button:hover {
	background-color: #eeeeee;
}