@charset "UTF-8";

.notice-div {
	width: 60%;
}

.notice-content {
	max-width: 100%;
	padding: 0px 20px 0px 20px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15)
}

.notice-row {
	width: 80%;
}

.ntc-title {
	font-size: 28px;
	font-weight: bold;
	color: black;
}

.ntc-date {
	font-size: 12px;
}

textarea {
	width: 100%;
	height: auto;
	overflow: hidden;
	resize: none;
	border: none;
	cursor: default;
	outline: none;
}