@charset "UTF-8";

.material-symbols-outlined {
	font-size: 36px;
	font-variation-settings:
	  'FILL' 0,
	  'wght' 400,
	  'GRAD' 0,
	  'opsz' 36
}

.notice-div {
	width: 80%;
}

.notice-list-div {
	max-width: 550px;
	padding: 0px 20px 0px 20px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.15)
}

.notice-row {
	width: 60%;
}

.notice-list {
	height: 80px;
	cursor: pointer;
	border-bottom: 1px solid #e3e3e3;
}

.ntc-title {
	font-size: 16px;
	color: black;
}

.ntc-date {
	font-size: 12px;
	font-weight: bold;
}