@charset "UTF-8";

.div-sm {
	max-width: 840px
}

.div-m {
	max-width: 960px
}

hr {
	margin: 0;
	color: gray;
	background-color: currentColor;
	border: 0;
	border-top: 1px solid;
	opacity: .25
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active {
	text-decoration: none;
	color: black;
}

.logo-m {
	max-height: 60px;
	object-fit: contain
}

.logo-s {
	max-height: 40px;
	object-fit: contain
}

.center {
	margin: auto
}

.biz-card {
	background-color: #ECF5FF; 
	border-style: none;
	border-radius: .7rem
}

.btn-net {
	border-radius: .25rem;
	padding: 2px;
	box-sizing: content-box;
	background-color: #fff;
    border-width: 1px;
    border-color: transparent;
    color: black;
}

.btn-inherit {
	background: inherit;
	color: inherit;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border-width: 1px;
	border-style: solid;
	width: 48%;
	border-radius: 0.2rem;
}

.btn-m {
	padding-bottom: 5px;
	padding-top: 5px;
}

.btn-sm {
	padding: 3px 15px;
}

.btn-xl {
	font-size: 1.3rem;
    border-radius: 1rem;
}

.table-p-10 table {
	border-collapse: collapse;
	border-spacing: 0;
    }

.table-p-10 td {
	padding: 5px; 
}

.table-p-10 tr {
	height: 30px; 
    }
    
.table-rd {
	border-radius: 0.25rem;
  	border-style: hidden;
  	box-shadow: 0 0 0 1px #dee2e6;
}

.table-rd-light {
	border-radius: 0.25rem;
  	border-style: hidden;
  	box-shadow: 0 0 0 1px #f9fafb;
}

.table-active-bl {
    --bs-table-accent-bg: rgb(236 245 255);
    color: var(--bs-table-active-color);
}

.card-blue {
	background-color: #4b8ef1;
	color: white;
	border: 0;
}

input:focus {
	outline: none !important; 
	border-color: #dee2e6; 
}

input[type="text"], input[type="password"] {
	border: 0;
	border-bottom: 1px solid #dee2e6;
	height: 95%;
	padding: 8px;
	box-sizing: border-box; /* 선택적인 스타일링 */
}

.btn-check:active+.btn-outline-secondary
, .btn-check:checked+.btn-outline-secondary
, .btn-outline-secondary.active
, .btn-outline-secondary.dropdown-toggle.show
, .btn-outline-secondary:active {
    color: #fff;
    background-color: #4b8ef1;
    border-color: transparent;
}

.rounded-form {
    margin-top: 50px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-text {
	word-break: keep-all;
}

.card-review {
	background-color: #b8c9ac1f;
	border: 0;
	min-height: 200px;
	cursor: pointer;
	border-radius: .5rem;
}