@charset "UTF-8";

.div-m {
	max-width: 960px
}

hr {
	margin: 0;
	color: gray;
	background-color: currentColor;
	border: 0;
	border-top: 1px solid;
	opacity: .25
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active {
	text-decoration: none;
	color: black;
}
/* 
#footer {
	display: block;
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 100px
}
 */
.logo-m {
	max-height: 60px;
	object-fit: contain
}

.logo-s {
	max-height: 40px;
	object-fit: contain
}

.vertical-center {
	margin: auto 0
}

.center {
	margin: auto
}

.biz-card {
	background-color: #ECF5FF; 
	border-style: none;
	border-radius: .7rem
}

.btn-net {
	border-radius: .25rem;
	padding: 2px;
	box-sizing: content-box;
	background-color: white;
	border-width: 1px;
	border-color: gray;
}

.btn {
	background: inherit;
	color: inherit;
}

.btn-sm {
	padding: 3px 15px;
}