@charset "UTF-8";

.filter-div {
	width: 100%;
	height: 150px;
	background-color: #e6f0f7;
}

.filter-div > .row {
	width: 60%;
	height: 100px;
	background-color: white;
}

p {
	color: black;
}

.fs-4 {
	font-weight: 400;
}

.select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
	width: 80px;
	height: 41.5px;
	color: black;
	background-color: white;
	border-radius: 30px;
	font-size: small;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
}

.select:hover {
	background-color: E4E4E2;
}

.modalBtn {
	color: black;
	background-color: white;
	border-width: 1px; 
	border-radius: 30px;
	font-size: small;
}

.choose-div {
	width: 70%;
}

.list-par-div {
	width: 70%;
}

.list-div {
	width: 90%;

	padding: 20px;
	margin-right: 0px;
	margin-left: 0px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.recent-list {
	width: 100%;
	min-height : 80px;

	padding: 10px;
	margin-right: 0px;
	margin-left: 0px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	
	cursor: pointer;
}

.none-div {
	width: 100%;
	min-height : 80px;

	padding: 10px;
	margin-right: 0px;
	margin-left: 0px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.range-div {
	max-width: 100%;

	padding: 20px 40px 20px 40px;
	
	border: 1px solid rgb(241, 243, 245);
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15)
}

.filter-list > div {
	margin-bottom: 50px;
}

.input-div {
	position: relative;
}

.search-icon {
	position : absolute;
	top: 8px;
	right: 6px;
	margin: 0;
}

.btn-div button {
	margin: 10px 10px 10px 0px;
	background: inherit;
	border: none;
	box-shadow:none;
	border-radius:0;
	padding:0;
	overflow:visible;
    cursor:pointer;
}

.btn-div button:hover {
	font-weight: bold;
}

.filter-list p {
	font-size: 18px;
	font-weight: bold;
}

.info-div p {
	font-size: 14px;
	color: #5b5b5b;
}

fieldset input[type=radio]{
    display: none;
}

fieldset label{
    display: inline-block;
    cursor: pointer;
    min-width: 70px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 30px;
    border-color: #d7d7d7;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

#planPrice fieldset label{
	display: block;
	margin-bottom: 10px;
	max-width: 120px;	
}

#bizName fieldset label{
	display: block;
	margin-bottom: 10px;
	max-width: 150px;	
}

#netInfo fieldset label {
	display: block;
	margin-bottom: 10px;
	max-width: 80px;
}

fieldset label:hover {
	background-color: #eef8ff;
}

.float-div {
	width: 100%;
	position: sticky;
	top: 130px;
}

.recent-p, .plus-p {
	font-size: 14px;
}

.plus-p {
	cursor: pointer;
}

.planInfo p {
	font-size: 12px;
	font-color: #afafaf;
	display: inline;
}

.planName {
	font-size: 14px;
	font-color: black;
}

.planData p {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}

.voiMes {
	font-size: 14px;
}

.planPrice p {
	font-size: 16px;
	display: inline;
}

.priceText {
	font-size: 18px;
}



/* slider */
[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #425AD5;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -2px;
  z-index: 2;
  height: 18px;
  width: 18px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #425AD5;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #425AD5;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}