@charset "UTF-8";

.div-m {
	max-width: 960px
}

#footer {
	display: block;
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 100px
}

.logo-m {
	max-height: 60px;
	object-fit: contain
}

.logo-s {
	max-height: 40px;
	object-fit: contain
}