@charset "UTF-8";

hr {
	margin: 0;
	color: gray;
	background-color: currentColor;
	border: 0;
	border-top: 1px solid;
	opacity: .25;
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover,
a:active {
	text-decoration: none;
	color: black;
}

.lh-xl {
	line-height: 3 !important
}

.div-m {
	max-width: 960px
}

.none-border {
	border: none
}

.full {
	width: 100%
}

#input-answer {
	position: fixed;
	bottom: 0;
	max-width: 960px
}

textarea {
	resize: none
}

.btn-gray {
	color: white;
	background-color: gray;
	border-style: none
}

.btn-gray:hover {
	color: black;
	background-color: gray-dark;
	border-style: none
}

.btn-m {
	padding: 5px 10px;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #4b8ef1;
    border-color: #4b8ef1;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .2rem .5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
}

.msg-search {
	color: #045faa;
	padding-left: 1rem;
}

.div-hover:hover {
	background-color: #d4e4f461;
	border-radius: 10px;
	color: #3a4750;
}

.div-hover:hover a {
	color: #3a4750;
	font-weight: bolder;
    text-shadow: 1px 1px #00000029;
}

.btn:hover {
    background: #0a58ca;
    color: #fff;
}

.btn-inherit {
	background: inherit;
	color: inherit;
}

.btn-inherit:hover {
	background: #808080;
}

.carousel-caption {
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100px;
    padding: 10px;
    display: flex;
}

.carousel-caption a {
    line-height: 1.5;
    font-weight: 500;
    word-break: keep-all;
    text-shadow: 1px 1px #8b9297;
    color: #4c99d6;
}

#faq-title, #faq-content, #aq-content, #aa-content {
	word-break: keep-all
}

.btn-rpl-mod button {
	padding: 2px 5px !important;
	font-size: .9em;
}