@charset "UTF-8";

hr {
	margin: 0;
	color: gray;
	background-color: currentColor;
	border: 0;
	border-top: 1px solid;
	opacity: .25
}

.lh-xl {
	line-height: 3 !important
}

.div-m {
	max-width: 960px
}

textarea {
	resize: vertical;
	width: 100%;
	border: none
}

input {
	width: 100%;
	border: none;
}