<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ans">

	<!-- 문의게시판 답변 목록 -->
	<select id="selectAnsList" resultType="usAnsvo">
		select * 
		from QNA_ANS
		where AQ_NO = #{aqNo}
	</select>

	<!-- 내 답변 목록 -->
	<select id="selectMyAnsList" resultType="usAnsvo">
		select *
		from QNA_ANS
		where USER_ID = #{username}
	</select>
	
	<!-- 내 답변 삭제 -->
	<delete id="deleteAns" parameterType="_int">
		delete from QNA_ANS
		where aa_no = #{aaNo}
	</delete>	
	
	<!-- 답변달기 -->
	<insert id="insertAnswer" parameterType="usAnsvo">
		insert into QNA_ANS (aa_no, aq_no, user_id, aa_content, aa_date) values (
		QNA_ANS_SEQ.nextval
		, #{aqNo}
		, #{userId}
		, #{aaContent}
		, default
		)
	</insert>
</mapper>
