<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usbiz">

	<select id="getBizByName" resultType="bizVo">
		select * from biz where biz_name = #{bizName}
	</select>
	
	<select id="getNetListByBizName" resultType="string">
		SELECT N.NET_NAME
		FROM NETWORK_TABLE N
		    INNER JOIN (SELECT DISTINCT NET_NO, BIZ_NAME FROM PLAN_TABLE) P
		    ON (N.NET_NO = P.NET_NO)
		WHERE P.BIZ_NAME = #{bizName}
	</select>
	
	<select id="getCountReviewByBizId" resultType="_int">
		select count(*) 
		from biz_review 
		where biz_id = #{bizId} 
			and review_hidden = 0
	</select>
	
	<select id="getReviewListById" resultType="usRvo">
		select * 
		from biz_review 
		where biz_id = #{bizId} 
			and review_hidden = 0
	</select>
	
	<select id="getBizById" resultType="bizVo">
		select * from biz where biz_id = #{bizId}
	</select>
	
</mapper>
