<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selectIdCheck" resultType="int">
		select count(*) from member where id=#{id}
	</select>
	
	<insert id="signUpMember" parameterType="memVo">
		insert into member values(#{id}, #{pw}, #{role}, #{enable})
	</insert>
	
	<insert id="signUpUser" parameterType="userVo">
		insert into user_table values(#{userId}, #{userName}, #{userSsn}, sysdate, null, #{userGender}, #{userPhone}, #{userEmail}, null)
	</insert>
	
	<insert id="signUpBiz" parameterType="bVo">
		insert into biz(biz_id, biz_name, biz_ssn, biz_crn, biz_email, biz_phone, write_date) values(#{bizId}, #{bizName}, #{bizSsn}, #{bizCrn}, #{bizEmail}, #{bizPhone}, sysdate)
	</insert>
	
	<select id="selectFindUserId" parameterType="userVo" resultType="string">
		select user_id from user_table where user_name=#{userName} and user_email=#{userEmail}
	</select>
	
	<select id="selectFindBizId" parameterType="bVo" resultType="string">
		select biz_id from biz where biz_name=#{bizName} and biz_email=#{bizEmail}
	</select>
	
	<select id="selectFindUserPw" parameterType="userVo" resultType="int">
		select count(*) from user_table where user_id=#{userId} and user_email=#{userEmail}
	</select>
	
	<select id="selectFindBizPw" parameterType="bVo" resultType="int">
		select count(*) from biz where biz_id=#{bizId} and biz_email=#{bizEmail}
	</select>
	
	<update id="changePw" parameterType="memVo">
		update member set pw=#{pw} where id=#{id}
	</update>

</mapper>
