<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selectIdCheck" resultType="int">
		select count(*) from member where id=#{id}
	</select>
	
	<insert id="signUpMember" parameterType="memVo">
		insert into member values(#{id}, #{pw}, #{role}, #{enable})
	</insert>
	
	<insert id="signUpUser" parameterType="userVo">
		insert into user_table values(#{userId}, #{userName}, #{userSsn}, sysdate, null, #{userGender}, #{userPhone}, #{userEmail}, null)
	</insert>
	
	<insert id="signUpBiz" parameterType="bVo">
		insert into biz(biz_id, biz_name, biz_ssn, biz_crn, biz_email, biz_phone, write_date) values(#{bizId}, #{bizName}, #{bizSsn}, #{bizCrn}, #{bizEmail}, #{bizPhone}, sysdate)
	</insert>

</mapper>
