<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan">

	<!-- api 데이터 -->
	<insert id="insertPlanData" parameterType="map">
		insert into plan_table values(plan_seq.nextval, #{chargeName}
			, (select biz_name from biz where biz_name = #{bizName})
			, (select net_no from network_table where net_name = #{telecomName})
	    	, (select gen_no from tel_gen_table where gen_name = 
	    	<choose>
	    		<when test='telecomGenerationType eq "3G / LTE 모두가능"'>'LTE/3G'</when>
	    		<otherwise>#{telecomGenerationType}</otherwise>
	    	</choose>
	    	)
	    	, #{chargeAmount}, #{voiceAmount}, #{messageAmount}, #{dataAmount}
	    	, #{overVoiceAmtUnit}, #{overMessageAmtUnit}, #{overDataAmtUnit}, sysdate)
	</insert>
	
	<select id="selectPlanList" parameterType="string" resultType="planVo">
		select * from plan_table
		<if test="searchText != null">
			where plan_name like '%${searchText}%' or biz_name like '%${searchText}%'
		</if>
	</select>
	
	<select id="selectSearchPlanList" parameterType="map" resultType="planVo">
		select * from plan_table 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="planData == 100000">plan_data >= 100000</if>
			<if test="planData == 50000"><![CDATA[ (plan_data < 100000 and plan_data >= 50000)]]> </if>
			<if test="planData == 10000"><![CDATA[ (plan_data < 50000 and plan_data >= 10000)]]> </if>
			<if test="planData == 5000"><![CDATA[ (plan_data < 10000 and plan_data >= 5000)]]> </if>
			<if test="planData == 1000"><![CDATA[ plan_data <= 5000]]> </if>
			
			<if test="planVoice == 1"><![CDATA[and plan_voice = 0 ]]> </if>
			<if test="planVoice == 300"><![CDATA[and plan_voice >= 300 ]]> </if>
			<if test="planVoice == 180"><![CDATA[and (plan_voice < 300 and plan_voice >= 180) ]]> </if>
			<if test="planVoice == 60"><![CDATA[and (plan_voice < 180 and plan_voice >= 60) ]]> </if>
			<if test="planVoice == 30"><![CDATA[and plan_voice <= 60 ]]> </if>
			
			<if test="planMessage == 1"><![CDATA[and plan_message = 0 ]]> </if>
			<if test="planMessage == 300"><![CDATA[and plan_message >= 300 ]]> </if>
			<if test="planMessage == 100"><![CDATA[and (plan_message < 300 and plan_message >= 100) ]]> </if>
			<if test="planMessage == 50"><![CDATA[and (plan_message < 100 and plan_message >= 50) ]]> </if>
			<if test="planMessage == 10"><![CDATA[and plan_message <= 50 ]]> </if>
			
			<if test="planPrice == 30000"><![CDATA[and plan_price >= 30000 ]]> </if>
			<if test="planPrice == 20000"><![CDATA[and (plan_price < 30000 and plan_price >= 20000) ]]> </if>
			<if test="planPrice == 10000"><![CDATA[and (plan_price < 20000 and plan_price >= 10000) ]]> </if>
			<if test="planPrice == 5000"><![CDATA[and (plan_price < 10000 and plan_price >= 5000) ]]> </if>
			<if test="planPrice == 1000"><![CDATA[and plan_price <= 5000 ]]> </if>
			
			<if test="netNo != null and netNo != 0"><![CDATA[ and net_no = #{netNo} ]]> </if>
			
			<if test="genNo == 1"><![CDATA[ and gen_no = #{genNo}]]> </if>
			<if test="genNo == 2"><![CDATA[ and (gen_no = #{genNo} or gen_no = 3)]]> </if>
			<if test="genNo == 4"><![CDATA[ and (gen_no = #{genNo} or gen_no = 3)]]> </if>
			
			<if test="bizName != null"><![CDATA[and biz_name = #{bizName} ]]> </if>
			
			<if test="searchText != null">
				and (plan_name like '%${searchText}%' or biz_name like '%${searchText}%')
			</if>
		</trim>
	</select>
	
	<select id="cntPlanList" parameterType="string" resultType="int">
		select count(*) from plan_table
		<if test="searchText != null">
			where plan_name like '%${searchText}%' or biz_name like '%${searchText}%'
		</if>
	</select>
	
	<select id="cntSearchPlanList" parameterType="map" resultType="int">
		select count(*) from plan_table 
		<trim prefix="where" prefixOverrides="and|or">
			<if test="planData == 100000">plan_data >= 100000</if>
			<if test="planData == 50000"><![CDATA[ (plan_data < 100000 and plan_data >= 50000)]]> </if>
			<if test="planData == 10000"><![CDATA[ (plan_data < 50000 and plan_data >= 10000)]]> </if>
			<if test="planData == 5000"><![CDATA[ (plan_data < 10000 and plan_data >= 5000)]]> </if>
			<if test="planData == 1000"><![CDATA[ plan_data <= 5000]]> </if>
			
			<if test="planVoice == 0"><![CDATA[and plan_voice = 0 ]]> </if>
			<if test="planVoice == 300"><![CDATA[and plan_voice >= 300 ]]> </if>
			<if test="planVoice == 180"><![CDATA[and (plan_voice < 300 and plan_voice >= 180) ]]> </if>
			<if test="planVoice == 60"><![CDATA[and (plan_voice < 180 and plan_voice >= 60) ]]> </if>
			<if test="planVoice == 30"><![CDATA[and plan_voice <= 60 ]]> </if>
			
			<if test="planMessage == 0"><![CDATA[and plan_message = 0 ]]> </if>
			<if test="planMessage == 300"><![CDATA[and plan_message >= 300 ]]> </if>
			<if test="planMessage == 100"><![CDATA[and (plan_message < 300 and plan_message >= 100) ]]> </if>
			<if test="planMessage == 50"><![CDATA[and (plan_message < 100 and plan_message >= 50) ]]> </if>
			<if test="planMessage == 10"><![CDATA[and plan_message <= 50 ]]> </if>
			
			<if test="planPrice == 30000"><![CDATA[and plan_price >= 30000 ]]> </if>
			<if test="planPrice == 20000"><![CDATA[and (plan_price < 30000 and plan_price >= 20000) ]]> </if>
			<if test="planPrice == 10000"><![CDATA[and (plan_price < 20000 and plan_price >= 10000) ]]> </if>
			<if test="planPrice == 5000"><![CDATA[and (plan_price < 10000 and plan_price >= 5000) ]]> </if>
			<if test="planPrice == 1000"><![CDATA[and plan_price <= 5000 ]]> </if>
			
			<if test="netNo != null and netNo != 0"><![CDATA[ and net_no = #{netNo} ]]> </if>
			
			<if test="genNo == 1"><![CDATA[ and gen_no = #{genNo}]]> </if>
			<if test="genNo == 2"><![CDATA[ and (gen_no = #{genNo} or gen_no = 3)]]> </if>
			<if test="genNo == 4"><![CDATA[ and (gen_no = #{genNo} or gen_no = 3)]]> </if>
			
			<if test="bizName != null"><![CDATA[and biz_name = #{bizName} ]]> </if>
			
			<if test="searchText != null">
				and (plan_name like '%${searchText}%' or biz_name like '%${searchText}%')
			</if>
		</trim>
	</select>
	
	<select id="bizNameList" resultType="bvo">
		select biz_name from biz
	</select>
	
	<select id="selectUser" parameterType="string" resultType="int">
		select count(*) from custom_q where user_id=#{userId}
	</select>
	
	<insert id="insertUser" parameterType="string">
		insert into custom_q values(#{userId}, null, null, null, null)
	</insert>
	
	<select id="customQue" parameterType="string" resultType="qVo">
		select * from custom_q where user_id=#{userId}
	</select>
	
	<update id="insertQueVal" parameterType="map">
		update custom_q set cq_${type}=#{value}
	</update>
	
	<select id="getPlanByNo" resultType="planVo">
		select p.plan_no
		    , p.plan_name
		    , p.biz_name
		    , p.plan_price
		    , p.plan_voice
		    , p.plan_message
		    , p.plan_data
		    , p.plan_voice_over
		    , p.plan_message_over
		    , p.plan_data_over
		    , p.plan_date
		    , n.net_name
		    , g.gen_name
		from plan_table p
		    inner join network_table n
		    on (n.net_no = p.net_no)
		    inner join tel_gen_table g
		    on (g.gen_no = p.gen_no)
		where plan_no = #{planNo}
	</select>

</mapper>