<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan">

	<!-- api 데이터 -->
	<insert id="insertPlanData" parameterType="map">
		insert into plan_table values(plan_seq.nextval, #{chargeName}
			, (select biz_name from biz where biz_name = #{bizName})
			, (select net_no from network_table where net_name = #{telecomName})
	    	, (select gen_no from tel_gen_table where gen_name = 
	    	<choose>
	    		<when test='telecomGenerationType eq "3G / LTE 모두가능"'>'LTE/3G'</when>
	    		<otherwise>#{telecomGenerationType}</otherwise>
	    	</choose>
	    	)
	    	, #{chargeAmount}, #{voiceAmount}, #{messageAmount}, #{dataAmount}
	    	, #{overVoiceAmtUnit}, #{overMessageAmtUnit}, #{overDataAmtUnit}, sysdate)
	</insert>
	
	<select id="selectPlanList" resultType="planVo">
		select * from plan_table
	</select>
	
	<select id="cntPlanList" resultType="int">
		select count(*) from plan_table
	</select>
	
</mapper>