<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">
  
  	<!-- 문의게시판 질문 목록 -->
  	<select id="selectQnaList" resultType="usQnavo">
		select *
		from QNA
	</select>
	
	<!-- 문의게시판 질문보기 -->
	<select id="selectQnaDetail" resultType="usQnavo">
		select * 
		from QNA
		where AQ_NO = #{aqNo}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCount">
		update QNA
		set AQ_VIEWS = AQ_VIEWS + 1
		where AQ_NO = #{aqNo}
	</update>
	
	<!-- 질문 작성 -->
	<insert id="insertQna" parameterType="usQnavo">
		insert into QNA(aq_no, user_id, aq_title, aq_content, aq_date, aq_views, aq_answers) values (
		    QNA_SEQ.NEXTVAL
		    , #{userId}
		    , #{aqTitle}
		    , #{aqContent}
		    , default
		    , default
		    , default
		)
	</insert>
	
	<!-- 내 질문 목록 -->
	<select id="selectMyQnaList" resultType="usQnavo">
		select *
		from QNA
		where user_id = #{username}
	</select>
	
	<!-- 답변수 증가 -->
	<update id="insertAns">
		update QNA
		set aq_answers = aq_answers + 1
		where aq_no = #{aqNo}
	</update>
	
</mapper>
