<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qna">
  
  	<!-- 문의게시판 질문 목록 -->
  	<select id="selectQnaList" resultType="usQnavo">
		select aq_no
		    , user_id
		    , aq_title
		    , aq_date
		    , aq_views
		from QNA
	</select>
	
	<!-- 문의게시판 질문보기 -->
	<select id="selectQnaDetail" resultType="usQnavo">
		select * from qna
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCount">
		update QNA
		set AQ_VIEWS = AQ_VIEWS + 1
		where AQ_NO = #{aqNo}
	</update>
</mapper>
