<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminBiz">

	<!-- 통신사 신청정보 리스트 -->
	<select id="selectApplyList" resultType="adBizVo">
	/** 통신사 신청정보 리스트(selectApplyList)**/
		SELECT E.*
		FROM
			(SELECT D.*
			FROM
				(SELECT
  				 ROWNUM AS RO
   				, C.*
				FROM
					(SELECT A.*
     				, B. ENABLE
 				FROM BIZ A
 				LEFT OUTER JOIN MEMBER B ON A.BIZ_ID = B.ID
				WHERE 1=1
				<if test="searchRadioVal != null">
					<choose>
					<when test="searchRadioVal != 'total'">
						AND B.ENABLE = #{searchRadioVal}
					</when>
					</choose>
				</if>
				<if test="searchOption != null">
					<choose>
						<when test="searchOption == 'bizName'">
							AND UPPER(A.BIZ_NAME) LIKE UPPER('%'||#{searchBox}||'%')
						</when>
						<when test="searchOption == 'bizOwnerName'">
							AND UPPER(A.BIZ_OWNER_NAME) LIKE UPPER('%'||#{searchBox}||'%')
						</when>
					</choose>
				</if>
				ORDER BY A.WRITE_DATE DESC
					)C
 			)D
 		)E
		WHERE 1=1
			AND RO BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 통신사 신청정보 리스트 -->
	<select id="selectApplyListCnt" resultType="_int">
	/** 통신사 신청정보 리스트 전체 개수(selectApplyListCnt)**/
		SELECT
			COUNT(*) AS TOTAL_ROW_COUNT
		FROM 
			BIZ A
		INNER JOIN MEMBER B ON A.BIZ_ID = B.ID
		WHERE 1=1
		<if test="searchRadioVal != null">
			<choose>
				<when test="searchRadioVal != 'total'">
					AND B.ENABLE = #{searchRadioVal}
				</when>
			</choose>
		</if>
		<if test="searchOption != null">
			<choose>
				<when test="searchOption == 'bizName'">
					AND UPPER(A.BIZ_NAME) LIKE UPPER('%'||#{searchBox}||'%')
				</when>
				<when test="searchOption == 'bizOwnerName'">
					AND UPPER(A.BIZ_OWNER_NAME) LIKE UPPER('%'||#{searchBox}||'%')
				</when>
			</choose>
		</if>
		<if test="searchOption == null and searchBox != null">
			AND (UPPER(A.BIZ_NAME) LIKE UPPER('%'||#{searchBox}||'%') OR AND UPPER(A.BIZ_OWNER_NAME) LIKE UPPER('%'||#{searchBox}||'%')) 
		</if>
	</select>
	
	<!-- 통신사 신청정보 상세 -->
	<select id="selectApplyDetail" resultType="adBizVo">
	/** 관리자의 통신사 신청정보 상세 (selectApplyDetail)**/	
		SELECT
		    A.*
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '1' AND ROWNUM = '1') AS KT_NET_SERVICE
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '2' AND ROWNUM = '1') AS SKT_NET_SERVICE
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '3' AND ROWNUM = '1') AS LG_NET_SERVICE
		FROM
		    BIZ A
		WHERE 
			A.BIZ_ID = #{bizId}				
	
	</select>
	
	<!-- 통신사 요금제 리스트  -->
	<select id="selectBizPlanList" resultType="adBizVo">
	/** 관리자의 통신사 요금제 리스트 (selectBizPlanList)**/	
		SELECT
    		B.*
		FROM
    		BIZ A
    		INNER JOIN PLAN_TABLE B ON A.BIZ_NAME = B.BIZ_NAME
		WHERE 1=1
    		AND A.BIZ_ID = #{bizId}
	</select>
	
	
	
	<!-- 통신사 상세 정보 수정 -->
	<update id ="saveBizModify" parameterType="adBizVo">
		/** 관리자의 통신사 관리 수정(saveBizModify)**/
		UPDATE BIZ 
		SET
			BIZ_ZIP_CODE = #{bizZipCode}
			, BIZ_NAME = #{bizName}
			, BIZ_SSN = #{bizSsn}
			, BIZ_CRN = #{bizCrn}
			, BIZ_EMAIL = #{bizEmail}
			, BIZ_PHONE = #{bizPhone}
			, BIZ_FAX = #{bizFax}
			, BIZ_OWner_NAME = #{bizOwnerName}
			, BIZ_HP = #{bizHp}
			, BIZ_LOCATION = #{bizLocation}
			, BIZ_CARD_PAY_DATE = #{bizCardPayDate}
			, BIZ_ACC_PAY_DATE = #{bizAccPayDate}
			, BIZ_CLOSED_DAY = #{bizClosedDay}
			, NETWORK =#{network}
			<!-- ,(biz_net_service)=(select biz_net_service from biz_network where biz_id = #{bizId} AND NET_NO = '1' AND ROWNUM = '1') -->
			, PHONE_OP_TIME =#{phoneOpTime}
			, PHONE_OP_TIME_USIM =#{phoneOpTimeUsim}
			, BIZ_BEGIN_TIME = #{bizBeginTime}
			, BIZ_END_TIME = #{bizEndTime}
			, UPDATE_DATE = SYSDATE
		WHERE BIZ_ID =#{bizId}
		
	</update>
	

	
	
	<!-- 통신사 탈퇴정보 리스트 -->
	<!-- <select id="selectWithdrawalList" resultType="adBizVo">
	/** 통신사 탈퇴정보 리스트(selectWithdrawalList)**/
		SELECT
			*
		FROM 
			BIZ A
			INNER JOIN MEMBER B ON A.BIZ_ID = B.ID
		
	</select> -->
	
	<!-- 통신사 탈퇴정보 상세 -->
	<select id="selectWithdrawalDetail" resultType="adBizVo">
	/** 관리자의 통신사 탈퇴정보 상세 (selectWithdrawalDetail)**/	
		SELECT
			*
		FROM
			BIZ
		WHERE 
			BIZ_ID = #{bizId}		
	
	</select>
	
	<!-- 통신사 상태 변경 -->
	<update id ="updateBizStatus" parameterType="adBizVo">
		/** 관리자의 통신사 상태 변경 (updateBizStatus)**/
		UPDATE MEMBER
		SET
			ENABLE = #{enable}
			, OPINION = #{opinion}
		WHERE ID = #{bizId}
	</update>
	
	<!-- 통신사 탈퇴 확정 -->
	<update id ="updateWithdrawalBizStatus" parameterType="adBizVo">
		/** 관리자의 통신사 탈퇴 확정 (updateWithdrawalBizStatus)**/
		UPDATE MEMBER
		SET
			ENABLE = '2'
			, OPINION = #{opinion}
		WHERE ID = #{bizId}
	</update>
	
	
	<!-- 통신사 요금제 개통 신청 리스트 -->
	<select id="selectBizPlanApplyList" resultType="adBizVo">
	/** 통신사 요금제 개통 신청 리스트(selectBizPlanApplyList)**/
		SELECT
			D.*
		FROM
			(
			SELECT
				C.*
				, ROWNUM AS RO
			FROM 
				(
				SELECT
					A.ORDER_NO
            		, A.USER_ID
            		, B.PLAN_NAME
            		, A.ORDER_STATUS
            		, A.ORDER_DATE
				FROM
					PLAN_ORDER A
					INNER JOIN PLAN_TABLE B ON A.PLAN_NO = B.PLAN_NO
				WHERE 1=1
				<if test="searchRadioVal != null">
					<choose>
						<when test="searchRadioVal != 'total'">
							AND A.ORDER_STATUS = #{searchRadioVal}
						</when>
					</choose>
				</if>
				<if test="searchOption != null">
					<choose>
						<when test="searchOption == 'planName'">
							AND UPPER(B.PLAN_NAME) LIKE UPPER('%'||#{searchBox}||'%')
						</when>
						<when test="searchOption == 'userId'">
							AND UPPER(A.USER_ID) LIKE UPPER('%'||#{searchBox}||'%')
						</when>
					</choose>
				</if>
				ORDER BY A.ORDER_DATE DESC
			) C
		) D
		WHERE 1=1
			AND RO BETWEEN #{start} AND #{end}		
	</select>
	
	<!-- 통신사 요금제 개통 신청 리스트 -->
	<select id="selectBizPlanApplyListCnt" resultType="_int">
	/** 통신사 요금제 개통 신청 리스트(selectBizPlanApplyListCnt)**/
		SELECT
			COUNT(*) AS TOTAL_ROW_COUNT
		FROM 
			PLAN_ORDER A
			INNER JOIN PLAN_TABLE B ON A.PLAN_NO = B.PLAN_NO
		WHERE 1=1
		<if test="searchRadioVal != null">
			<choose>
				<when test="searchRadioVal != 'total'">
					AND A.ORDER_STATUS = #{searchRadioVal}
				</when>
			</choose>
		</if>
		<if test="searchOption != null">
			<choose>
				<when test="searchOption == 'planName'">
					AND UPPER(B.PLAN_NAME) LIKE UPPER('%'||#{searchBox}||'%')
				</when>
				<when test="searchOption == 'userId'">
					AND UPPER(A.USER_ID) LIKE UPPER('%'||#{searchBox}||'%')
				</when>
			</choose>
		</if>
				
	</select>
	
	<!-- 통신사 요금제 개통 신청 상세 -->
	<select id="selectBizPlanApplyDetail" resultType="adBizVo">
	/** 통신사 요금제 개통 신청 상세 (selectBizPlanApplyDetail)**/
		
		 SELECT
		    A.*
		    , (SELECT user_name FROM user_table WHERE user_id = A.user_id) as userName
		    , (SELECT user_ssn FROM user_table WHERE user_id = A.user_id) as userSsn
		    , (SELECT user_phone FROM user_table WHERE user_id = A.user_id) as userPhone
		    , (SELECT user_email FROM user_table WHERE user_id = A.user_id) as userEmail
		    , (SELECT plan_name FROM plan_table WHERE plan_no = A.plan_no) as planName
		    , (SELECT net_name FROM network_table WHERE net_no = A.net_no) as net_name
		    , (SELECT gen_name FROM tel_gen_table WHERE gen_no = A.gen_no) as genName
		    , (SELECT CARD_HOLDER FROM PAYINFO_CARD WHERE ORDER_NO = A.ORDER_NO) AS CARD_HOLDER
		    , (SELECT CARD_SSN FROM PAYINFO_CARD WHERE ORDER_NO = A.ORDER_NO) AS CARD_SSN
		    , (SELECT CARD_RELATIONSHIP FROM PAYINFO_CARD WHERE ORDER_NO = A.ORDER_NO) AS CARD_RELATIONSHIP
		    , (SELECT CARD_NUMBER FROM PAYINFO_CARD WHERE ORDER_NO = A.ORDER_NO) AS CARD_NUMBER
		    , (SELECT CARD_EXPIRATION FROM PAYINFO_CARD WHERE ORDER_NO = A.ORDER_NO) AS CARD_EXPIRATION
		    , (SELECT ACC_HOLDER FROM PAYINFO_ACC WHERE ORDER_NO = A.ORDER_NO) AS ACC_HOLDER
		    , (SELECT ACC_SSN FROM PAYINFO_ACC WHERE ORDER_NO = A.ORDER_NO) AS ACC_SSN
		    , (SELECT ACC_RELATIONSHIP FROM PAYINFO_ACC WHERE ORDER_NO = A.ORDER_NO) AS ACC_RELATIONSHIP
		    , (SELECT ACC_NUMBER FROM PAYINFO_ACC WHERE ORDER_NO = A.ORDER_NO) AS ACC_NUMBER
		    , (SELECT ACC_BANK FROM PAYINFO_ACC WHERE ORDER_NO = A.ORDER_NO) AS ACC_BANK
		     
		 FROM
		    plan_order A
		 WHERE 
			A.order_no = #{orderNo}
	</select>
	
	<!-- 통신사 요금제 상세 정보 Ajax -->
	<select id="selectBizPlanDetailAjax" resultType="adBizVo">
	/** 통신사 요금제 상세 정보 Ajax (selectBizPlanDetailAjax)**/
		SELECT 
			A.* 
			, DECODE(A.NET_NO, '1', 'KT', '2', 'SKT', 'LGU+') AS NET_NAME
			, DECODE(A.GEN_NO, '1', '5G', '2', 'LTE', '3', '3G', 'LTE/3G') AS GEN_NAME
		FROM PLAN_TABLE A 
		WHERE 1=1
			AND PLAN_NO = #{plan_no}
	</select>
	


</mapper>