<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminBiz">

	<!-- 통신사 신청정보 리스트 -->
	<select id="selectApplyList" resultType="adBizVo">
	/** 통신사 신청정보 리스트(selectApplyList)**/
		SELECT
			*
		FROM 
			BIZ A
		
	</select>
	<!-- 통신사 신청정보 상세 -->
	<select id="selectApplyDetail" resultType="adBizVo">
	/** 관리자의 통신사 신청정보 상세 (selectApplyDetail)**/	
		SELECT
		    A.*
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '1' AND ROWNUM = '1') AS KT_NET_SERVICE
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '2' AND ROWNUM = '1') AS SKT_NET_SERVICE
		    , (SELECT BIZ_NET_SERVICE FROM BIZ_NETWORK WHERE BIZ_ID = A.BIZ_ID AND NET_NO = '3' AND ROWNUM = '1') AS LG_NET_SERVICE
		FROM
		    BIZ A
		WHERE 
			A.BIZ_ID = #{bizId}		
	
	</select>
	
	<!-- 통신사 요금제 리스트  -->
	<select id="selectBizPlanList" resultType="adBizVo">
	/** 관리자의 통신사 요금제 리스트 (selectBizPlanList)**/	
		SELECT
    		B.*
		FROM
    		BIZ A
    		INNER JOIN PLAN_TABLE B ON A.BIZ_NAME = B.BIZ_NAME
		WHERE 1=1
    		AND A.BIZ_ID = #{bizId}
	</select>
	
	<!-- 통신사 검토 결과 수정 -->
	<update id ="updateBizStatus" parameterType="adBizVo">
		/** 관리자의 검토 결과 수정 수정(updateBizStatus)**/
		UPDATE BIZ
		SET
			STATUS_CD = #{statusCd}
			, RVW_OPINION = #{rvwOpinion}
			, UPDATE_DATE = SYSDATE
		WHERE BIZ_ID = #{bizId}
	</update>
	
	<!--통신사 상세 수정 리스트 
	<select id="selectBizModify" resultType="adBizVo">
	/** 관리자의 통신사 상세 수정 리스트 (selectBizModify)**/	
		SELECT
			*
		FROM
			BIZ
		WHERE 
			BIZ_ID = #{bizId}		
	</select>-->
	
	<!-- 통신사 상세 정보 수정 -->
	<update id ="saveBizModify" parameterType="adBizVo">
		/** 관리자의 통신사 관리 수정(saveBizModify)**/
		UPDATE BIZ_TABLE
		SET
			BIZ_EMAIL = #{bizEmail}
			, BIZ_ADDRESS = #{bizAddress}
			, BIZ_PHONE = #{bizPhone}
			, BIZ_UP_DATE = SYSDATE
		WHERE BIZ_ID =#{bizId}
	</update>
	
	
	
	<!-- 통신사 탈퇴정보 리스트 -->
	<select id="selectWithdrawalList" resultType="adBizVo">
	/** 통신사 탈퇴정보 리스트(selectWithdrawalList)**/
		SELECT
			*
		FROM 
			BIZ A
			INNER JOIN MEMBER B ON A.BIZ_ID = B.ID
		
	</select>
	
	<!-- 통신사 탈퇴정보 상세 -->
	<select id="selectWithdrawalDetail" resultType="adBizVo">
	/** 관리자의 통신사 탈퇴정보 상세 (selectWithdrawalDetail)**/	
		SELECT
			*
		FROM
			BIZ
		WHERE 
			BIZ_ID = #{bizId}		
	
	</select>
	
	
	<!-- 통신사 요금제 개통 신청 리스트 -->
	<select id="selectBizPlanApplyList" resultType="adBizVo">
	/** 통신사 요금제 개통 신청 리스트(selectBizPlanApplyList)**/
		SELECT
			*
		FROM 
			PLAN_ORDER A
			INNER JOIN PLAN_TABLE B ON A.PLAN_NO = B.PLAN_NO
	</select>
	
	<!-- 통신사 요금제 개통 신청 상세 -->
	<select id="selectBizPlanApplyDetail" resultType="adBizVo">
	/** 통신사 요금제 개통 신청 상세 (selectBizPlanApplyDetail)**/
		
	
	
		SELECT
				*
			FROM
				USER_TABLE A
			 JOIN
				PLAN_ORDER B ON A.USER_ID = B.USER_ID
			 JOIN			
				PLAN_TABLE C ON B.PLAN_NO = C.PLAN_NO
			WHERE
			ORDER_NO =#{orderNo}
	  
	   
	  <!--  SELECT
	   		*
	   	FROM 
	   		PLAN_ORDER A
	   	JOIN
	   		USER_TABLE B ON A.USER_ID = B.USER_ID
	   	JOIN 
	   		PLAN_TABLE C ON A.PLAN_NO = C.PLAN_NO
	   	WHERE
	   	ORDER_NO = #{orderNo}	 -->	  		
	   
		 
	</select>
	
	


</mapper>
