<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

<!-- 리뷰 리스트 -->
<select id="selectDashboardBizReview" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewMngtVo">
SELECT * FROM (
    SELECT 
        REVIEW_NO
        ,REVIEW_CONTENT
        , REVIEW_DATE
        , REVIEW_REDATE
        , REVIEW_STAR
        , USER_ID
        , BIZ_ID
        , REVIEW_HIDDEN
    FROM BIZ_REVIEW
    ORDER BY REVIEW_DATE DESC
)  <![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 질문/답변 리스트 -->
<select id="selectDashBoardQna" resultType="kh.finalproject.sims.admin.model.vo.AdminQnaMngtVo">
	SELECT * FROM (
	    SELECT 
	        AQ_NO
	        ,USER_ID
	        , AQ_TITLE
	        , AQ_CONTENT
	        , AQ_DATE
	        , AQ_REDATE
	        , AQ_VIEWS
	        , AQ_ANSWERS
	    FROM QNA
	    ORDER BY AQ_DATE DESC
	) <![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 신고 리스트 -->
<select id="selectDashBoardReviewReport" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewMngtVo">
	SELECT * 
	FROM 
	(SELECT *
	FROM REVIEW_REPORT LEFT OUTER JOIN BIZ_REVIEW USING (REVIEW_NO) 
	ORDER BY REVIEW_DATE DESC)
	<![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 가입자 수 -->
<select id="selectDashBoardPlanOrderCount" resultType="_int">
	SELECT COUNT(*) FROM PLAN_ORDER WHERE TRUNC(ORDER_DATE) = TRUNC(SYSDATE)
</select>

<!-- 통신사 등록 신청 수 -->
<select id="selectDashBoardBizWriteCount" resultType="_int">
	SELECT COUNT(*) FROM BIZ WHERE TRUNC(WRITE_DATE) = TRUNC(SYSDATE)
</select>

<!-- 통신사 총 신청 수 -->
<select id="selectDashBoardBizTotalCount" resultType="_int">
	SELECT COUNT(*) FROM BIZ
</select>


</mapper>
