<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
<!-- 리뷰 리스트 -->
<select id="selectDashboardBizReview" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewMngtVo">
SELECT * FROM (
    SELECT 
        REVIEW_NO
        ,REVIEW_CONTENT
        , REVIEW_DATE
        , REVIEW_REDATE
        , REVIEW_STAR
        , USER_ID
        , BIZ_ID
        , REVIEW_HIDDEN
    FROM BIZ_REVIEW
    ORDER BY REVIEW_DATE DESC
)  <![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 질문/답변 리스트 -->
<select id="selectDashBoardQna" resultType="kh.finalproject.sims.admin.model.vo.AdminQnaMngtVo">
	SELECT * FROM (
	    SELECT 
	        AQ_NO
	        ,USER_ID
	        , AQ_TITLE
	        , AQ_CONTENT
	        , AQ_DATE
	        , AQ_REDATE
	        , AQ_VIEWS
	        , AQ_ANSWERS
	    FROM QNA
	    ORDER BY AQ_DATE DESC
	) <![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 신고 리스트 -->
<select id="selectDashBoardReviewReport" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewReportMngtVo">
	SELECT * 
	FROM 
    (
    SELECT 
        review_no,
        report_date,
        report_status,
        report_reason
	    FROM review_report
	    ORDER BY report_date DESC
    )
	<![CDATA[ WHERE ROWNUM <= 3 ]]>
</select>

<!-- 가입자 수 -->
<select id="selectDashBoardPlanOrderCount" resultType="_int">
	SELECT COUNT(*) FROM PLAN_ORDER WHERE TRUNC(ORDER_DATE) = TRUNC(SYSDATE)
</select>

<!-- 통신사 총 신청 수 -->
<select id="selectDashBoardBizWriteCount" resultType="_int">
	SELECT COUNT(*) FROM BIZ WHERE TRUNC(WRITE_DATE) = TRUNC(SYSDATE)
</select>

<!-- 통신사 총 등록 수 -->
<select id="selectDashBoardBizTotalCount" resultType="_int">
	select count(*) from member where role='ROLE_BIZ' and enable = 1
</select>

<!-- 요금제 가입별 수 -->
<select id="selectDashBoardPlanOrderChart" resultType="kh.finalproject.sims.admin.model.vo.AdminDashBoardVo">
	select rownum, plan_no, plan_name, cnt, biz_name
    from (
    select plan_no, count(*)as cnt 
    from plan_order
    group by plan_no
    order by cnt desc
    )
    left outer join plan_table using (plan_no)
    <![CDATA[ where rownum <=5 ]]>
</select>

<!-- 일별(7일 이내) 총 가입자 수 변화 -->
<select id="selectDashBoardDailyTotalUserWriteCount" resultType="kh.finalproject.sims.admin.model.vo.AdminDashBoardVo">
<![CDATA[
	SELECT TO_CHAR(TRUNC(CALENDAR_DATE), 'YYYY-MM-DD') AS USER_WR_DATE, NVL(CNT, 0) AS CNT
	FROM
	(
	  SELECT TRUNC(SYSDATE) - LEVEL + 1 AS CALENDAR_DATE
	  FROM DUAL
	  CONNECT BY LEVEL <= 7
	) CALENDAR
	LEFT OUTER JOIN
	(
	  SELECT TRUNC(USER_WR_DATE) AS USER_WR_DATE, COUNT(*) AS CNT
	  FROM USER_TABLE
	  WHERE USER_WR_DATE >= TRUNC(SYSDATE) - 6 AND USER_WR_DATE < TRUNC(SYSDATE) + 1
	  GROUP BY TRUNC(USER_WR_DATE)
	) USER_COUNT
	ON CALENDAR.CALENDAR_DATE = USER_COUNT.USER_WR_DATE
	ORDER BY TRUNC(CALENDAR_DATE) ASC
 ]]>
</select>
</mapper>
