<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminNotice">
	
	
	<!-- 관리자 공지사항 리스트 -->
	<select id="selectNoticeList" resultType="adNtcvo">
	/** 관리자 공지사항 리스트 (selectNoticeList) **/
		SELECT
			*
		FROM
			NOTICE
		WHERE 1=1
			<if test="searchOption != null">
				<choose>
					<when test="searchOption == 'title'">
						AND UPPER(NTC_TITLE) LIKE UPPER('%'||#{searchBox}||'%')
					</when>
					<when test="searchOption == 'writer'">
						AND UPPER(ADMIN_ID) LIKE UPPER('%'||#{searchBox}||'%')
					</when>
					<when test="searchOption == 'content'">
						AND UPPER(NTC_CONTENT) LIKE UPPER('%'||#{searchBox}||'%')
					</when>
				</choose>
			</if>
		ORDER BY NTC_DATE DESC
	</select>
	
	
	<!-- 관리자 공지사항 상세 -->
	<select id="selectNoticeDetail" resultType="adNtcvo">
	/** 관리자 공지사항 상세 (selectNoticeDetail) **/
		SELECT
			*
		FROM	
			NOTICE
		WHERE
		    NTC_NO = #{ntcNo}		
		
	</select>
	
	<!-- 관리자 공지사항 작성 -->
	<insert id="insertNoticeWrite" parameterType="adNtcVo" useGeneratedKeys="true" keyColumn="NTC_NO" keyProperty="ntcNo">
	/** 관리자 공지사항 작성 (insertNoticeWrite) **/
		INSERT INTO NOTICE(NTC_NO, NTC_TITLE, NTC_CONTENT, ADMIN_ID) VALUES(
		NTC_NO_SEQ.NEXTVAL
		, #{ntcTitle}
		, #{ntcContent}
		, #{adminId}
		)
	</insert>
	
	<!-- 관리자 공지사항 수정   -->
	<update id="saveNoticeModify" parameterType="adNtcVo">
	/** 관리자 공지사항 수정 (saveNoticeModify) **/
		UPDATE NOTICE
		SET
			NTC_TITLE = #{ntcTitle}
			, NTC_CONTENT = #{ntcContent}
			, NTC_REDATE = SYSDATE
		WHERE NTC_NO = #{ntcNo}
	</update>
	
	<!-- 관리자 공지사항 삭제   -->
	<delete id="deleteNotice" parameterType="adNtcVo">
	/** 관리자 공지사항 삭제 (deleteNotice) **/
		DELETE FROM NOTICE
		WHERE NTC_NO = #{ntcNo}
	</delete>
	
	<!-- 마이페이지 공지사항 리스트 -->
	<select id="selectMypageNoticeList" resultType="adNtcvo">
		select * from notice order by ntc_date desc
	</select>
	
	<!-- 마이페이지 공지사항 페이지 -->
	<select id="selectMypageNoticeDetail" parameterType="int" resultType="adNtcvo">
		select * from notice where ntc_no=#{number}
	</select>
</mapper>
