<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<select id="selectQnaList" resultType="adQvo">
		SELECT FAQ_NO,
		FAQ_TITLE,
		FAQ_CONTENT,
		ADMIN_ID,
		FAQ_REWRITER
		FROM FAQ
		ORDER BY FAQ_NO DESC
	</select>
	
	<select id="selectFaqDetail" resultType="adQvo">
		SELECT *
		FROM FAQ
    	WHERE FAQ_NO = #{faqNo}
	</select>
</mapper>
