<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="_int">
		delete from biz_review where review_no = #{reviewNo}
	</delete>
	
	<!-- 리뷰 상세 내용 -->
	<select id="selectReviewDetail" parameterType="_int" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewMngtVo">
		SELECT 
	  REVIEW_NO
	, REVIEW_CONTENT
	, REVIEW_DATE
	, REVIEW_STAR
	, USER_ID
	, BIZ_ID
	, REVIEW_HIDDEN 
	FROM BIZ_REVIEW WHERE REVIEW_NO=#{reviewNo}
	</select>
	
	<!--  search -->
	<select id="searchReviewPageList" parameterType="map" resultType="kh.finalproject.sims.admin.model.vo.AdminReviewMngtVo">
	    SELECT *
	    FROM (
	        SELECT
	              ROW_NUMBER() OVER (ORDER BY REVIEW_DATE DESC) AS n
	            , REVIEW_NO
	            , REVIEW_CONTENT
	            , REVIEW_DATE
	            , REVIEW_REDATE
	            , REVIEW_STAR
	            , USER_ID
	            , BIZ_ID
	            , REVIEW_HIDDEN
	        FROM BIZ_REVIEW
	        <choose>
	            <when test="searchType != null and searchType == 'writer'"> WHERE LOWER(USER_ID) LIKE '%'|| LOWER(#{keyword}) ||'%'</when>
	            <when test="searchType != null and searchType == 'content'"> WHERE LOWER(REVIEW_CONTENT) LIKE '%'|| LOWER(#{keyword}) ||'%'</when>
	        </choose>
	    )
	    WHERE N BETWEEN #{start} AND #{end}
	</select>

	<!-- 글 개수 -->
	<select id="getSearchReviewPageCnt" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM BIZ_REVIEW
		<choose>
		    <when test="searchType != null and searchType == 'writer'"> WHERE LOWER(USER_ID) LIKE '%'|| LOWER(#{keyword}) ||'%'</when>
		    <when test="searchType != null and searchType == 'content'"> WHERE LOWER(REVIEW_CONTENT) LIKE '%'|| LOWER(#{keyword}) ||'%'</when>
		</choose>
	</select>

</mapper>
