<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin" >
	<!-- 요금제 랭킹 - 가입자 많은 순 -->
	<select id="selectOrderByRegistration" resultType="kh.finalproject.sims.admin.model.vo.AdminStatisticsVo">
		select rownum, plan_no, plan_name, cnt, biz_name
	    from (
	    select plan_no, count(*)as cnt 
	    from plan_order
	    group by plan_no
	    order by cnt desc
	    )
	    left outer join plan_table using (plan_no)
	    <![CDATA[ where rownum <=5 ]]>
	    order by cnt desc
	</select>
	
	<!-- 연령대별 가장 인기있는 요금제  -->
	<select id="selectAgeGroupPlans">
	SELECT AGE_GROUP, MAX(PLAN_NAME) AS PLAN_NAME, BIZ_NAME
	FROM
	(
	    SELECT PLAN_NO, USER_ID, USER_NAME, USER_SSN, PLAN_NAME, BIZ_NAME,
	        CASE 
	           WHEN TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(SUBSTR(USER_SSN, 1, 6), 'RRMMDD'))/12) BETWEEN 10 AND 19 THEN '10대'
	           WHEN TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(SUBSTR(USER_SSN, 1, 6), 'RRMMDD'))/12) BETWEEN 20 AND 29 THEN '20대'
	           WHEN TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(SUBSTR(USER_SSN, 1, 6), 'RRMMDD'))/12) BETWEEN 30 AND 39 THEN '30대'
	           WHEN TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(SUBSTR(USER_SSN, 1, 6), 'RRMMDD'))/12) BETWEEN 40 AND 49 THEN '40대'
	           WHEN TRUNC(MONTHS_BETWEEN(SYSDATE, TO_DATE(SUBSTR(USER_SSN, 1, 6), 'RRMMDD'))/12) BETWEEN 50 AND 59 THEN '50대'
	           ELSE '60+' 
	        END AS AGE_GROUP
	    FROM 
	        PLAN_ORDER 
	        LEFT OUTER JOIN USER_TABLE USING (USER_ID)
	        LEFT OUTER JOIN PLAN_TABLE USING (PLAN_NO)
	)
	GROUP BY AGE_GROUP, BIZ_NAME
	</select>
</mapper>
