@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
/* table{
	border:medium;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #fff;
}
table th{
	width: 180px;
	margin: 10px;
}
 */
 table {
    width: 100%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: solid;
}
table tr, 
table th,
table td{
    border-color: inherit;
    border-style: dotted;
    border-width: thin;
 }