@charset "UTF-8";

/* 헤더 */
#wrap {position: relative; height: 100%; background: #fff; overflow: hidden;}
#header{position: relative; z-index: 1; box-sizing: border-box;}
.head-top{width: 100%; border-bottom: 1px solid #c5c5c5; height: 90px; min-width: 1200px; background: #ffffff; position: fixed;}
.head-area-web {width: 100%; position: relative; max-width: 1200px; margin: 0 auto;}
nav{float: left; padding-left: 60px; width: 967px; }
nav ul {float: left; font-size: 14px; letter-spacing: -0.04em;}
nav ul li {float: left; position: relative; z-index: 2; display: inline-block; font-size: 18px; color: #222;}
nav ul li a{display: block; color: #353535; text-decoration: none; padding: 36px 0px; width: 120px; text-align: center; font-size: 16px; cursor:pointer;}

/* 컨텐츠 common*/
#container{position: relative; height: 100%; width: 100%; /* top: 121px; */ overflow: hidden;}
.contain-area{width: 1200px; margin: 0 auto; padding: 0px 0 0;}
.content{margin-top: 120px; padding-bottom: 80px;}
.content h1{font-size: 30px; margin-bottom: 30px;}
.sims_btn{background:#294492; color:#fff; padding:6px 20px; border-radius:6px; margin-bottom:10px; text-align:center; float:right; }
.contents{display: block; clear: both;}
.contents>div{padding:10px; border:1px solid #c5c5c5}
.contents>div table{width:100%;}
.contents>div:nth-child(1) {margin-bottom:10px;}

label{width:10%; display:inline-block; text-align:center; font-size:30px;}
input[type="text"]{width:87%; font-size:30px; padding:10px 8px;}
input[type="textarea"]{width:87%; height:550px; font-size:30px; padding:10px 8px;}
input[class*="search"]{width:75%; font-size:18px; padding:10px 8px;}
select[class*="search"]{font-size: 18px; width: 70px; height: 45px;}

/* 컨텐츠 */

/* 푸터 */
