@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.applyStatus{
	display: flex;
	align-items: center; /*행을 수직으로 중앙정렬*/
}
 table {
    display:block;
    width: 100%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
	position: relative;
}
.table th {
  background-color: #ecf7fd !important;
}
#applyDetail{
	margin: 30px auto;
	width: 50%;
	border-radius: 10px;
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 3, 0, 0.3);
    outline: none
}
.infoContent{
	border-bottom: 1px solid black;
}
.container{
	border-style: solid;
}
.statusBtnGroup{
	position: absolute;
	left: 2%;
}
.goList{
	position: absolute;
	right:34%;
}
.titleMent{
	position: absolute;
	left: 1%;
	font-size: 24px;
	margin-top: 3%;
	align-items: center;
    display: flex;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.btn{
	background: #ecf7fd !important;
    color: #000 !important;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 3, 0, 0.3);
    outline: none;
}
@media (max-width: 1200px) {
  #wrap {
    display: none; /*화면 너비가 지정 크기 이하일 때 사이드 바가 안보이게 함. */
  }
}
.content{
	position: relative;
    margin-left: 3%;
}
h2.tit{
    margin-top: 1%;
    margin-left: 10%;
/*     margin-bottom: -7%; */
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.line{
	width: 283px;
    margin-left: 10%;
    height: 4px !important;
    color: #488ed5;
    opacity: 1;
}