@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	-webkit-box-sizing: border-box;
}
 table {
    /* display:block; */
    margin: 0;

    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
}
#contents{
    float: left;
    display: block;
}
.pagination {
	padding-left: 450px !important;
}
