@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.applyStatus{
	display: flex;
	align-items: center; /*행을 수직으로 중앙정렬*/
}
 table {
    display:block;
    width: 100%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
}
.table th {
  background-color: #f2f2f2 !important;
}
#applyDetail{
	margin: 30px auto;
	width: 50%;
	border: solid 1px;
	border-radius: 10px;
}
.infoContent{
	border-bottom: 1px solid black;
}
.container{
	border-style: solid;
}