@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
 table {
   /*  display:block; */
    width: 113% !important;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
	border-radius: 5px;
	position: relative;
}
.form-select{
	width: 90px !important;
    margin: 0;
    display: -webkit-inline-box !important;
}
.form-check{
	margin:2px;
}
.col-md-2 {
	width: 20% !important;
}
.btnGroup{
	position: absolute;
    left: 44%;
    bottom: -20%;
}
.division-box{
	border: solid 3px;
	width: 12%;
	border-radius: 8px;
	text-align: center;
	border-color:#6b91b3;
}
hr{
	width: -webkit-fill-available;
	
}
hr:not([size]) {
    height: 3px !important;
    color:#6b91b3;
    margin-right: -13%
}
@media (max-width: 1200px) {
  #wrap {
    display: none; /*화면 너비가 지정 크기 이하일 때 사이드 바가 안보이게 함. */
  }
}
.content{
	position: relative;
    margin-left: 3%;
}
