@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
 table {
    width: 63%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
	margin-top: 9%;
    margin-left: 9%;
    
}
.table th {
  background-color: #ecf7fd !important;
}
.titleMent{
	position: absolute;
	left: 26%;
	font-size: 24px;
	margin-top: 3%;
	align-items: center;
    display: flex;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.btnGroup{
	position: absolute;
	left: 60%;
    bottom: 40%;
}
#planDetail{
	margin-top: 4%;
	width: 50%;
	border-radius: 10px;
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 3, 0, 0.3);
    outline: none;
    position:relative;
    height: 470px;
}
h2.tit{
    margin-top: 1%;
    margin-left: 10%;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.line{
	width: 289px;
    margin-left: 10%;
    height: 4px !important;
    color: #488ed5;
    opacity: 1;
}
.content{
	position: relative;
    margin-left: 3%;
}
.btn {
    background: #8dbdd7 !important;
}