@charset "UTF-8";
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
 table {
   /*  display:block; */
    width: 100%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
}
.titleMent{
	position: absolute;
	left: 20%;
	font-size: 24px;
	margin-top: 3%;
	align-items: center;
    display: flex;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.modiPlanTb{
	/* margin-left:6%; */
	margin-top:6%;
	position: relative;
	height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 3, 0, 0.3);
    outline: none;
}
.btnGroup{
	position: absolute;
	left:45%
}
h2.tit{
    margin-top: 1%;
    margin-left: 10%;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.line{
	width: 211px;
    margin-left: 10%;
    height: 4px !important;
    color: #488ed5;
    opacity: 1;
}
.btn {
    background: #8dbdd7 !important;
}