@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
 table {
    display:block;
    width: 100%;
    margin: 0;
    /* border: 0; */
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    justify-content: center;
	align-items: center;
	border-style: none;
}
.reportBtn {
  background-color: #ae8fef;
  color: white;
}
.review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  background: #e6f1fb;
}

.review-header-item {
  display: inline-block;
  margin-right: 10px;
}
/*리뷰박스 내에 있는 모든 헤더 아이템들이 일정한 위치에서 정렬되어 표시*/
.review-header-item:nth-child(2),
.review-header-item:nth-child(3) {
  flex-basis: 150px;
  text-align: center;
}

.review-header-item:nth-child(4) {
  flex-basis: 140px;
  text-align: center;
}
.review-box {
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  margin-left: 138px;
  border-bottom: 1px solid #ddd;
}
.review-container {
  width: 800px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}
.selectBox{
	justify-content: space-between;
	width: 80%;
	margin-left: 11%;
	margin-top: 0%;
}
@media (max-width: 1200px) {
  #wrap {
    display: none; /*화면 너비가 지정 크기 이하일 때 사이드 바가 안보이게 함. */
  }
}
.content{
	position: relative;
    margin-left: -5%;
    margin-right: -17%;
    width: -webkit-fill-available;
}
h2.tit{
    margin-top: 1%;
    margin-left: 10%;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.radio-group{
	margin-left: 11%;
}
.btnStatus{
	background: #e6f1fb !important;
    color: #000 !important;
    border-color: #fff !important;
}