@charset "UTF-8";

p {
	color: black;
}

.choose-plan {
	width: 80%;
}

.choose-row {
	width: 600px;
	border: 1px solid #cfcfcf;
	border-radius: 20px;
	padding: 30px 10px 30px 10px;
	cursor: pointer;
}

.span-text {
	line-height: 100%;
}

.span-div span {
	font-size: 24px;
}

/* 랭크 */
.rank-div {
	width: 90%;
}

.rank-main-text span {
	font-size: 28px;
	font-weight: bold;
}

.select-text {
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
}

.viewRankDiv, .likeRankDiv, .orderRankDiv {
	width: 50%
}

/* 리스트 */
.list-div {
	width: 90%;

	padding: 20px 10px 20px 10px;
	margin-left: 0px;
	border: 2px solid #566fee;
	margin: 0 auto;
	cursor: pointer;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);	
}

.rankCount {
	padding: 0;
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	border-top: 20px solid #566fee;
	border-left: 20px solid #566fee;
	border-right: 20px solid transparent;
	
	border-top-left-radius: 10px;
	position: absolute;
	top: -1px;
	left: -1px;
}

.rankText {
	position: absolute;
	top: 0px;
	left: -8px;
	margin: 0;
	color: white;
}

.planInfo p {
	font-size: 12px;
	color: #afafaf;
	display: inline;
}

.planName {
	font-size: 14px;
	color: #afafaf;
}

.planData p {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}

.voiMes {
	font-size: 14px;
}

.planPrice p {
	font-size: 16px;
	display: inline;
}

.priceText {
	font-size: 18px;
}

.viewCount {
	font-size: 12px;
	color: #afafaf;
}

/* a 태그 초기화 */
.aTag {
	color: black;
	text-decoration: none;
	outline: none;
}

.aTag:hover,
.aTag:active {
	text-decoration: none;
	color: black;
}