@charset "UTF-8";


p {
	color: black;
}

.info-div {
	width: 80%;
}

.info-row {
	width: 70%;
}

.net-text {
	background-color: #eeeeee;
	border-radius: 20px;
}

.menu-div {
	background-color: white;
	width: 100%;
	top: 100px;
	border-bottom: 1px solid #eeeeee;
	position: sticky;
}

.menu-text {
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

.biz-time {
	height: 100px;
	background-color: #F8F9FA;
	border-radius: 16px;
}

/* 리스트 */
.list-div {
	width: 100%;

	padding: 20px 10px 20px 10px;
	margin-left: 0px;
	cursor: pointer;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.planInfo p {
	font-size: 12px;
	color: #afafaf;
	display: inline;
}

.planName {
	font-size: 14px;
	color: #afafaf;
}

.planData p {
	display: inline;
	font-size: 16px;
	font-weight: bold;
}

.voiMes {
	font-size: 14px;
}

.planPrice p {
	font-size: 16px;
	display: inline;
}

.priceText {
	font-size: 18px;
}

.viewCount {
	font-size: 12px;
	color: #afafaf;
}
/* */

.plan-plus,
.f-review-plus,
.s-review-plus {
	width: 100%;

	margin-left: 0px;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 0px 10px 0px;
	
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.plan-plus:hover,
.f-review-plus:hover,
.s-review-plus:hover {
	background-color: #e8eefb;
}

.list-row {
	width: 100%;
	min-height: 100px;
}

.written-content textarea {
	width: 100%;
	height: auto;
	padding: 10px;
	overflow: hidden;
	resize: none;
	border: none;
	border-radius: 10px;
	cursor: default;
	outline: none;
}

.info-text p {
	font-size: 14px;
	color: #868e96;
}